@namespace Carlton.Base.Components

<div class="notifications">
    <i class="mdi mdi-24px mdi-bell-outline"></i>
    <div class="notify">
        <span class="point">5</span>
    </div>
</div>

@code {
    [Parameter]
    public int NotificationCount { get; set; }
}