@namespace Carlton.Base.Components

<div class="theme-menu" @onclick="SwapTheme">
    <i class="mdi mdi-24px mdi-@(Theme == Themes.Light ? "weather-sunny" : "moon-waxing-crescent")"></i>
</div>


@code {
    [CascadingParameter]
    private Themes Theme { get; set; }

    [CascadingParameter]
    private Action<Themes> UpdateTheme { get; set; }

    private void SwapTheme()
    {
        if(Theme == Themes.Light)
        {
            Theme = Themes.Dark;
            UpdateTheme(Theme);
        }
        else
        {
            Theme = Themes.Light;
            UpdateTheme(Theme);
        }
    }
}
