@namespace Carlton.Core.Components

<div class="app-btn"><span>@Text</span></div>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public EventCallback OnClickCallback { get; set; }
}