@namespace Carlton.Core.Components

<div class="icon-app-btn">
    <span @onclick="OnClickCallback" class="mdi mdi-24px mdi-@(Icon)"></span>
</div>

@code {
    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public EventCallback OnClickCallback { get; set; }
}