@namespace Carlton.Base.TestBed

<div class="test-results-summary">
    <div class="summary-metric">
        <div class="summary-count summary-total-count">10</div>
        <span class="summary-text">Total</span>
    </div>
    <div class="summary-metric">
        <div class="summary-count summary-passing-count">8</div>
        <span class="summary-text">Passing</span>
    </div>
    <div class="summary-metric">
        <div class="summary-count summary-failing-count">2</div>
        <span class="summary-text">Failing</span>
    </div>
    <div class="summary-metric">
        <div class="summary-count summary-time-count">10</div>
        <span class="summary-text">Time (sec)</span>
    </div>
</div>

@code {

}
