@namespace Carlton.Base.TestBedFramework

<Table Headings="Headings" Items="TestResultItems" ShowPaginationRow="true" RowsPerPageOpts="RowsPerPageInts">
    <RowTemplate Context="item"  >
        <TestResultRow Item="item"  />
    </RowTemplate>
</Table>

@code {
    private IEnumerable<TableHeadingItem> Headings
    {
        get => new List<TableHeadingItem> 
        { 
            new TableHeadingItem("Result", "TestResultStatus"),
            new TableHeadingItem("Test Name", "TestName"),
            new TableHeadingItem("Duration", "TestDuration")
        };
    }

    public List<TestResultItemModel> TestResultItems = new List<TestResultItemModel>
    {
        new TestResultItemModel("Test 1", TestResult.Passed, 2.2),
        new TestResultItemModel("Test 2", TestResult.Passed, 2.2),
        new TestResultItemModel("Test 3", TestResult.Failed, 2.5)
    };

    private IEnumerable<int> RowsPerPageInts = new List<int>
    {
        5, 10, 25
    };
}
