@namespace Carlton.Base.TestBed
@attribute [DataEndpointRefreshPolicy(DataEndpointRefreshPolicy.Never)]
@attribute [ObserveStateEvents<TestBedStateEvents>(TestBedStateEvents.MenuItemSelected)]
@inherits DataComponentBase<TestResultsViewModel>

<div class="test-results-report">
    <TestResultsTable TestResults="ViewModel.TestResultsReport.TestResults" />
</div>