@namespace Carlton.Base.TestBed
@inherits CarltonComponentBase<TestResultsViewModel>

<div class="test-results-report">
    <TestResultsSummaryViewer Summary="ViewModel.TestResultsSummary"  />
    <TestResultsTable TestResults="ViewModel.TestResults" />
</div>