@namespace Carlton.Base.TestBed
@inherits CarltonComponentBase<TestResultsReportViewerViewModel>

<div class="test-results-report">
    <TestResultsSummaryViewer Summary="ViewModel.TestResultsReport.TestResultsSummary" />
    <TestResultsTable TestResults="ViewModel.TestResultsReport.TestResults" />
</div>