@namespace Carlton.Base.TestBed
<div class="row-item">
    @switch(Item?.TestResultStatus)
    {
        case TestResult.Passed:
            <div class="status-row">
                <span class="test-passed-icon mdi mdi-18px mdi-check-circle"></span>
                <span>Passed</span>
            </div>
            break;
        case TestResult.Failed:
            <div class="status-row">
                <span class="test-failed-icon mdi mdi-18px mdi-close-circle"></span>
                <span>Failed</span>
            </div>
            break;
    }

</div>
<div class="row-item">@Item?.TestName</div>
<div class="row-item">@Item?.TestDuration</div>

@code {
    [Parameter]
    public TestResultItemModel Item { get; set; }
}