@namespace Carlton.Core.Components.Layouts

<div class="header-bar">
    <div class="nav">
        @NavContent
    </div>
    <div class="logo">
        @LogoCotentent
    </div>
    <div class="title">
        @TitleContent
    </div>
    <div class="action">
        @ActionContent
    </div>
</div>


@code {
    [Parameter]
    public RenderFragment NavContent { get; set; }
    [Parameter]
    public RenderFragment LogoCotentent { get; set; }
    [Parameter]
    public RenderFragment TitleContent { get; set; }
    [Parameter]
    public RenderFragment ActionContent { get; set; }
}