@namespace Carlton.Core.Components.PsudoElementComponents

 <span class="horizontal-spacer" style="@SpacerStyle"></span>

@code {
    [Parameter]
    public int WidthPercentage { get; set; }
    [Parameter]
    public int HeightPixels { get; set; } = 1;

    private string SpacerStyle
    {
        get => new StyleBuilder()
                    .AddStyle("--spacer-width", $"{WidthPercentage}%")
                    .AddStyle("--spacer-height", $"{HeightPixels}px")
                    .Build();
    }
}