.layout-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 20% 1fr 1fr;
    grid-template-areas:
        "navsidebar header header"
        "navsidebar main main"
        "navsidebar footer footer";
}

    .layout-container.collapsed {
        grid-template-columns: 5% 1fr 1fr;
    }

    .layout-container header {
        grid-area: header;
    }

    .layout-container nav {
        grid-area: navsidebar;
        background-color: #263238;
        height: 100vh;
    }

        .layout-container nav.collapsed {
            max-width: 500px;
            width: 50px;
            transition: width .75s ease;
        }

    .layout-container main {
        grid-area: main;
/*        overflow: hidden;*/
    }

    .layout-container footer {
        grid-area: footer;
        background: #272727;
        color: white;
    }

    .layout-container footer.fixed {
        width: 80%;
        position: absolute;
        bottom: 0;
        margin-left: 20%;
        z-index: 10;
    }

        .layout-container.collapsed footer.fixed {
            width: 95%;
            margin-left: 5%;
        }

