@namespace Carlton.Base.Components

<CarltonLayoutTemplate IsCollapsed="false" Theme="Themes.light" IsFixedFooter="true">
    <HeaderContent>
        <CarltonHeader />
    </HeaderContent>
    <NavContent>
        <CarltonNavTemplate Title="@Title" NavContent="NavContent" />
    </NavContent>
    <Body>
        <CarltonBodyContent ShowTabPanel="ShowTabPanel" Body="Body" Tabs="Tabs" />
    </Body>
    <FooterContent>
        <CarltonFooter />
    </FooterContent>
</CarltonLayoutTemplate>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public bool ShowTabPanel { get; set; }
    [Parameter]
    public RenderFragment HeaderContent { get; set; }
    [Parameter]
    public RenderFragment NavContent { get; set; }
    [Parameter]
    public RenderFragment Body { get; set; }
    [Parameter]
    public RenderFragment? Tabs { get; set; }
    [Parameter]
    public RenderFragment FooterContent { get; set; }
}



