.dashboard-container {
    display: grid;
    grid-template-columns: 25% 1fr 1fr;
    grid-template-areas:
        "header header header"
        "navsidebar main main"
        "navsidebar footer footer";
}
    .dashboard-container.collapsed {
        grid-template-columns: 5% 1fr 1fr;
    }

    .dashboard-container header {
        grid-area: header;
    }

    .dashboard-container nav {
        grid-area: navsidebar;
        background-color: #263238;
    }


        .dashboard-container nav.collapsed {
            max-width: 500px;
            width: 50px;
            transition: width .75s ease;
        }


    .dashboard-container main {
        grid-area: main;
    }

    .dashboard-container footer {
        grid-area: footer;
    }
