@namespace Carlton.Base.Components
@inherits LayoutComponentBase

<div class="dashboard-container @(IsCollapsed ? "collapsed" : string.Empty)">
    <CascadingValue Value="@IsCollapsed">
        <CascadingValue TValue="Action" Value="@SetCollapsedStatus">
            <header class="header">
                @HeaderContent
            </header>
            <nav class="nav-sidebar">
                <Logo />
                @if(!IsCollapsed)
                {
                    <Spacer SpacerDirection="SpacerDirection.horizontal" />
                    @NavContent
                }
            </nav>
            <main>
                <ResizablePanel>
                    <TopContent>
                        @Body
                    </TopContent>
                    <BottomContent>
                        @PanelContent
                    </BottomContent>
                </ResizablePanel>
            </main>
            @if(FooterContent != null)
            {
                <footer class="footer">
                    @FooterContent
                </footer>
            }
        </CascadingValue>
    </CascadingValue>
</div>


@code {
    [Parameter]
    public RenderFragment HeaderContent { get; set; }
    [Parameter]
    public RenderFragment NavContent { get; set; }
    [Parameter]
    public RenderFragment PanelContent { get; set; }
    [Parameter]
    public RenderFragment FooterContent { get; set; }

    private bool IsCollapsed { get; set; }

    private void SetCollapsedStatus()
    {
        IsCollapsed = !IsCollapsed;
    }
}



