@namespace Carlton.Base.Components
@inherits LayoutComponentBase

<div class="dashboard-container @(IsCollapsed ? "collapsed" : string.Empty)">
    <header class="header">
        <CascadingValue Value="@IsCollapsed">
            <CascadingValue TValue="Action" Value="@SetCollapsedStatus">
                @HeaderContent
            </CascadingValue>
        </CascadingValue>
    </header>
    <nav class="nav-sidebar">
        @NavContent
    </nav>
    <main>
        <ResizablePanel>
            <TopContent>
                @Body
            </TopContent>
            <BottomContent>
                @PanelContent
            </BottomContent>
        </ResizablePanel>
    </main>
    <footer class="footer @(IsCollapsed ? string.Empty : "collpased")">
        @FooterContent
    </footer>
</div>


@code {
    [Parameter]
    public RenderFragment HeaderContent { get; set; }
    [Parameter]
    public RenderFragment NavContent { get; set; }
    [Parameter]
    public RenderFragment PanelContent { get; set; }
    [Parameter]
    public RenderFragment FooterContent { get; set; }

    private bool IsCollapsed { get; set; }

    private void SetCollapsedStatus()
    {
        IsCollapsed = !IsCollapsed;
    }
}



