@using Microsoft.Extensions.Logging
@namespace Carlton.Core.Flux.Debug.Components.Logging

<span class="pill @(LogLevel.ToString().ToLower())">@LogLevel</span>

@code {
    [Parameter]
    public LogLevel LogLevel {get;set;}
}
