@namespace Carlton.Base.Components

<div class="page-title">
    <span class="title">@Title</span>
    <span class="bread-crumbs">@BreadCrumbs</span>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string BreadCrumbs { get; set; }
}
