.content {
    display: flex;
    flex-direction: column;
}

    .content .title {
        font-size: var(--page-title-font-size);
        color: var(--page-title-color);
    }

    .content .bread-crumbs {
        font-size: var(--page-title-bread-crumb-font-size);
        color: var(--page-title-bread-crumb-color);
    }


