.accordion-select {
    --accordion-select-background-color: #212120;
}

.content {
    color: var(--nav-text-color);
    background-color: var(--accordion-select-background-color);
}

    .content .accordion-header {
        display: flex;
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;
        color: var(--nav-text-color);
    }

        .content .accordion-header.selected {
            background-color: var(--selected-color);
            color: var(--nav-text-color);
            padding: 5px;
            border-radius: 10px;
            margin-top: 10px;
        }

        .content .accordion-header .item-group-name {
            text-align: left;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 10px;
        }

    .content .item-container {
        padding-left: 15px;
    }

        .content .item-container.collapsed {
            display: none;
        }

    .content .item {
        padding-top: 15px;
        cursor: pointer;
    }

        .content .item.selected {
            color: var(--selected-color);
            font-weight: bold;
        }
