@namespace Carlton.Core.Components.Library

<div class="collapser">
    <a href="#" @onclick="LayoutState.ToggleCollapsedState">
        <span class="mdi mdi-24px mdi-menu" />
    </a>
</div>


@code {
    [CascadingParameter]
    private LayoutState LayoutState { get; set; }
}
