.carlton-notification {
    --notification-width: 250px;
    --notification-height: 50px;
    --notification-title-text-color: #fff;
    --notification-message-text-color: #d3d3d3;
}

    .carlton-notification.dismissed .content {
        opacity: 0;
    }

.content {
    display: flex;
    width: var(--notification-width);
    height: var(--notification-height);
    gap: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--carlton-notification-background-color);
    transition: opacity .4s ease-out
}

    .content .icon {
        flex-basis: 10%;
        margin-top: auto;
        margin-bottom: auto;
        color: var(--notification-title-text-color);
    }

    .content .message-container {
        flex-basis: 90%;
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 10px;
    }

        .content .message-container .title {
            font-weight: bold;
            color: var(--notification-title-text-color);
        }


        .content .message-container .message {
            color: var(--notification-message-text-color);
            font-size: 8pt;
        }

    .content .dismiss {
        flex-basis: 5%;
        color: var(--notification-message-text-color);
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 50px;
        cursor: pointer;
    }
