@namespace Carlton.Base.Components
@inherits BaseNotification

<div class="error-notification">
    <BaseNotification IconClass="mdi-alert-circle-outline" Title="@Title" Message="@Message" OnDismiss="@OnDismiss" FadeOutEnabled="@FadeOutEnabled" />
</div>

