.slide-out-nav span{
    color: white;
}

.menu-content-container {
    display: none;
    height: 100vh;
    z-index: 11;
}

    .menu-content-container.active {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        margin-top: 75px;
    }