.menu[b-xdpzu8fbi8] {
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 16px;
  top: 12px; }

.dropdown[b-xdpzu8fbi8] {
  position: absolute;
  right: 0;
  top: 3em;
  transition: all 0.25s ease-out;
  transform: scale(0);
  transform-origin: 100% 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12); }
  .theme-light .dropdown[b-xdpzu8fbi8] {
    background-color: #fff; }
  .theme-dark .dropdown[b-xdpzu8fbi8] {
    background-color: #272c33; }
  .dropdown li[b-xdpzu8fbi8] {
    display: block;
    width: 100%; }
    .dropdown li[b-xdpzu8fbi8]  a {
      width: 100%;
      padding-top: 1em;
      padding-right: 18px;
      padding-bottom: 1em;
      padding-left: 9px;
      display: inline-block;
      white-space: pre;
      box-sizing: border-box;
      text-align: left;
      font-weight: bold; }
      .theme-light .dropdown li[b-xdpzu8fbi8]  a {
        color: #757575; }
      .theme-dark .dropdown li[b-xdpzu8fbi8]  a {
        color: #c2c2c2; }
      .dropdown li[b-xdpzu8fbi8]  a:hover {
        background: #ebebeb; }
  .dropdown:hover ul[b-xdpzu8fbi8] {
    transform: scale(1); }

.dropdown.active[b-xdpzu8fbi8] {
  transform: scale(1);
  transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9, 0.8);
  z-index: 9999; }
