

.table-row.starting-row {
	background-color: var(--card-background-color);
	border-bottom: transparent;
}

.table-row.ending-row {
	background-color: var(--card-background-color);
}

.table-row.child-row {
	background-color: var(--card-secondary-background-color);
	border-bottom: transparent;
}

.cell-text {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.plus-minus-cell {
	margin-top: auto;
	margin-bottom: auto;
	color: var(--primary-text-color);
	cursor: pointer;
}

.hidden {
	visibility: hidden;
}

.child-row {
}

	.child-row.collapsed {
		display: none;
	}
