@namespace Carlton.Base.Components

<div class="carlton-fab mdi mdi-24px mdi-@(Icon)" style="@CarltonFabStyle"></div>

@code{
    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public int PositionBottom { get; set; }

    [Parameter]
    public int PositionRight { get; set; }

    private string CarltonFabStyle
    {
        get => StyleBuilder.Empty()
                .AddStyle("--carlton-fab-bottom", $"{PositionBottom}px")
                .AddStyle("--carlton-fab-right", $"{PositionRight}%")
                .Build();

    }
}