.count-card {
    --count-card-width: 250px;
}

.content {
    /*Properties*/
    display: flex;
    width: var(--count-card-width);
    padding: 1.25rem;
    background-color: var(--count-card-background-color);
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

    .content .count-icon {
        border-radius: 50px;
        height: 50px;
        width: 50px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: var(--count-card-icon-background-color);
    }

        .content .count-icon::before {
            line-height: initial;
            color: var(--count-card-icon-color);
        }

    .content .count-message {
        padding: 0px;
        text-align: left;
        font-size: 15pt;
        margin-top: auto;
        margin-bottom: auto;
        flex-basis: 65%;
        text-align: center;
        color: var(--primary-text-color);
    }



[data-theme="light"] .count-card.accent1 {
    --count-card-background-color: #fff;
    --count-card-icon-background-color: var(--accent-color-1);
    --count-card-icon-color: #fff;
}

[data-theme="light"] .count-card.accent2 {
    --count-card-background-color: #fff;
    --count-card-icon-background-color: var(--accent-color-2);
    --count-card-icon-color: #fff;
}

[data-theme="light"] .count-card.accent3 {
    --count-card-background-color: #fff;
    --count-card-icon-background-color: var(--accent-color-3);
    --count-card-icon-color: #fff;
}

[data-theme="light"] .count-card.accent4 {
    --count-card-background-color: #fff;
    --count-card-icon-background-color: var(--accent-color-4);
    --count-card-icon-color: #fff;
}


[data-theme="dark"] .count-card.accent1 {
    --count-card-background-color: var(--accent-color-1);
    --count-card-icon-background-color: #fff;
    --count-card-icon-color: var(--accent-color-1);
}

[data-theme="dark"] .count-card.accent2 {
    --count-card-background-color: var(--accent-color-2);
    --count-card-icon-background-color: #fff;
    --count-card-icon-color: var(--accent-color-2);
}

[data-theme="dark"] .count-card.accent3 {
    --count-card-background-color: var(--accent-color-3);
    --count-card-icon-background-color: #fff;
    --count-card-icon-color: var(--accent-color-3);
}

[data-theme="dark"] .count-card.accent4 {
    --count-card-background-color: var(--accent-color-4);
    --count-card-icon-background-color: #fff;
    --count-card-icon-color: var(--accent-color-4);
}
