@namespace Carlton.Base.Components

<div class="desktop-header-template-container">
    <div class="header-bar @(IsCollapsed ? "collapsed" : string.Empty)">
        <div class="menu">
            @MenuContent
        </div>
        <div class="title">
            @TitleContent
        </div>
        <div class="action">
            @ActionContent
        </div>
    </div>
    <Spacer WidthPercentage="100" />
</div>

@code {
    [CascadingParameter]
    public bool IsCollapsed { get; set; }
    [Parameter]
    public RenderFragment MenuContent { get; set; }
    [Parameter]
    public RenderFragment TitleContent { get; set; }
    [Parameter]
    public RenderFragment ActionContent { get; set; }
}