@namespace Carlton.Core.Components.Tabs
@inherits TabBarBase

<div class="mobile-collapsable-tab-bar">
    <TabBarBase HideCollapser="false"
                HideTabs="false"
                ContentLocation="ContentLocation"
                ChildContent="ChildContent"
                ActiveTabIndex="ActiveTabIndex">
        <TabContent Context="tab">
            <IconTabContent Tab="tab" />
        </TabContent>
    </TabBarBase>
</div>

