@namespace Carlton.Core.Components.Tabs

<div class="tab">
    @if (IsActive)
    {
        @ChildContent
    }
</div>


@code {
    [CascadingParameter]
    private TabBarBase Parent { get; set; }

    [Parameter]
    public string DisplayText { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public bool IsActive { get => Parent.ActiveTab == this; }

    //Value set by the TabBar when added
    public int TabIndex { get; set; }

    protected override void OnInitialized()
    {
        if (Parent == null)
            throw new ArgumentNullException(nameof(Parent), "Tab must exist within a TabBar");
        base.OnInitialized();
        Parent.AddTab(this);
    }
} 