
.tab-bar {
	--tab-bar-slide-btn-width: 100px;
	--tab-bar-content-min-height: 50px;
	--tab-bar-tab-height: 50px;
}

.tab-bar {
	display: flex;
	flex-direction: column;
}

.slide-button {
	cursor: pointer;
	display: block;
	width: var(--tab-bar-slide-btn-width);
	margin: 0 auto;
	padding: 15px 0;
	border: 0;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.content {
	display: none;
	color: #fff;
	min-height: var(--tab-bar-content-min-height);
	text-align: left;
}

	.content.expanded {
		display: block;
		height: var(--slide-tab-height);
	}

.tabs {
	display: flex;
	height: var(--tab-bar-tab-height);
}

.tab {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	text-align: center;
	font-size: 0.8rem;
	cursor: pointer;
}

	.tab.active {
		color: var(--selected-color);
	}

	.tab .tab-link {
		display: flex;
		flex-direction: column;
	}
