@namespace Carlton.Core.Components.Tabs
@inherits TabBarBase

@*An implementation of TabBarBase where the child tabs are displayed as link button text*@
<div class="text-tab-bar">
    <TabBarBase HideCollapser="true"
                HideTabs="false"
                ContentLocation="ContentLocation"
                ChildContent="ChildContent"
                ActiveTabIndex="ActiveTabIndex">
        <TabContent Context="tab">
            <TextTabContent Tab="tab" />
        </TabContent>
    </TabBarBase>
</div>
