/* Console Variables */
.console {
	--console-background-color: #282c34;
	--console-color: #7FFF00;
	--console-error-color: #ff0000;
}

/* Console Base Styles */
.console {
	display: flex;
	width: 100%;
}

/* Textarea Styles */
textarea {
	width: 100%;
	background-color: var(--console-background-color);
	color: var(--console-color);
	resize: none;
	border: none;
}

	/* Error Textarea Styles */
	textarea.error {
		color: var(--console-error-color);
	}
