
.console{
    display: flex;
    width: 100%;
}

textarea {
    width: 100%;
    background-color: var(--console-background-color);
    color: var(--console-color);
    resize: none;
    border: none;
}

    textarea.error {
        color: var(--console-error-color);
    }
