/* Accordion Select Variables */
.accordion-select {
	--accordion-select-color: #fff;
	--accordion-select-background-color: #212120;
	--accordion-header-padding-top: 10px;
	--accordion-header-padding-left: 5px;
	--accordion-header-selected-margin-top: 10px;
	--accordion-header-selected-padding: 5px;
	--accordion-header-selected-border-radius: 5px;
	--accordion-header-item-group-name-margin-left: 10px;
	--accordion-header-item-container-padding-left: 15px;
	--accordion-header-item-padding-top: 15px;
}

/* Content Styles */
.content {
	color: var(--accordion-select-color);
	background-color: var(--accordion-select-background-color);
}

/* Accordion Header Styles */
.accordion-header {
	display: flex;
	padding-top: var(--accordion-header-padding-top);
	padding-left: var(--accordion-header-padding-left);
	cursor: pointer;
	color: var(--accordion-select-color);
}

	/* Selected Accordion Header Styles */
	.accordion-header.selected {
		background-color: var(--selected-color);
		color: var(--accordion-select-color);
		margin-top: var(--accordion-header-selected-margin-top);
		padding: var(--accordion-header-selected-padding);
		border-radius: var(--accordion-header-selected-border-radius);
	}

	.accordion-header .item-group-name {
		text-align: left;
		margin-top: auto;
		margin-bottom: auto;
		margin-left: var( --accordion-header-item-group-name-margin-left);
	}

/* Item Container Styles */
.item-container {
	padding-left: var(--accordion-header-item-container-padding-left);
}

	/* Collapsed Item Container Styles */
	.item-container.collapsed {
		display: none;
	}

	.item-container .item {
		padding-top: var(--accordion-header-item-padding-top);
		cursor: pointer;
	}

		/* Selected Item Styles */
		.item-container .item.selected {
			color: var(--selected-color);
			font-weight: bold;
		}
