.bread-crumbs {
    --page-title-font-size: 15pt;
    --page-title-bread-crumb-font-size: 12pt;
}

.bread-crumbs {
    display: flex;
    flex-direction: column;
}

    .bread-crumbs .page-title {
        font-size: var(--page-title-font-size);
        color: var(--primary-text-color);
    }

    .bread-crumbs .bread-bread-crumbs {
        font-size: var(--page-title-bread-crumb-font-size);
        color: var(--secondary-text-color);
    }


