@namespace Carlton.Core.Components.Navigation

@*  Represents a slide-out navigation component with toggleable visibility. *@
<div class="slide-out-nav">
    <a href="#" @onclick:preventDefault @onclick="() => IsExpanded=!IsExpanded">
        <span class="@SlideOutNavIconCss" />
    </a>
</div>

<div class="content-container @(IsExpanded ? "active" : string.Empty)">
    @Content
</div>


@code{
    /// <summary>
    /// Gets or sets a value indicating whether the content is expanded or collapsed.
    /// </summary>
    [Parameter]
    public bool IsExpanded { get; set; }

    /// <summary>
    /// Gets or sets the content to be displayed within the slide-out navigation.
    /// </summary>
    [Parameter]
    public RenderFragment Content { get; set; }

    private string SlideOutNavIconCss
    {
        get => new CssBuilder("icon")
            .AddClass("mdi mdi-24px")
            .AddClass("mdi-close", IsExpanded)
            .AddClass("mdi-menu", !IsExpanded)
            .Build();
    }

}

