@namespace Carlton.Core.Flux.Debug.Components.StateViewer.MutationCommandViewer
@using Carlton.Core.Components.Consoles

@* Component for viewing the details of a selected mutation command. *@
<div class="mutation-command-viewer">
	<span class="mutation-command-label">Mutation Command: @MutationCommandTypeName</span>
	<JsonViewerConsole Obj="SelectedMutationCommand" IsReadOnly="true" />
</div>

@code {
	/// <summary>
	/// Gets or sets the currently selected mutation command.
	/// </summary>
	[Parameter]
	public object SelectedMutationCommand { get; set; }

	private string MutationCommandTypeName => SelectedMutationCommand == null ? "Initial State" : SelectedMutationCommand.GetType().Name;
}
