.spinner-container{
    height: 100%;
    display: flex;
}

.spinner {
    position: relative;
    width: var(--spinner-dimensions);
    height: var(--spinner-dimensions);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: spinner infinite .75s linear;
    -moz-animation: spinner infinite .75s linear;
    -o-animation: spinner infinite .75s linear;
    animation: spinner infinite .75s linear;
    border: 2px solid transparent;
    border-top-color: var(--spinner-color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-radius: 100%;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
