@namespace Carlton.Core.Components.Lab
@attribute [ViewModelEndpointRefreshPolicy(DataEndpointRefreshPolicy.Never)]
@attribute [ObserveStateEvents("MenuItemSelected")]
@inherits BaseConnectedComponent<TestResultsViewModel>

<div class="test-results-report">
    <TestResultsTable TestResults="ViewModel.TestResultsReport.TestResults" />
</div>