@namespace Carlton.Core.Components.Lab
@attribute [ViewModelEndpointRefreshPolicy(DataEndpointRefreshPolicy.Never)]
@attribute [ObserveStateEvents<LabStateEvents>(LabStateEvents.MenuItemSelected)]
@inherits ConnectedComponentBase<TestResultsViewModel>

<div class="test-results-report">
    <TestResultsTable TestResults="ViewModel.TestResultsReport.TestResults" />
</div>