@namespace Carlton.Core.Layouts.Components.Notifications
@inherits BaseNotification

<div class="warning-notification">
    <BaseNotification IconClass="mdi-alert" Title="@Title" Message="@Message" OnDismiss="@OnDismiss" FadeOutEnabled="@FadeOutEnabled" />
</div>

