@namespace Carlton.Core.Flux.Debug.Components.Logging.EventLogging

@* Component for filtering log text in a debug environment. *@
<div class="log-text-filter">
    <input class="search-text" type="text" @onchange="(args) => OnTextChanged.InvokeAsync(args.Value.ToString())" value="@Text" />
</div>

@code {
	/// <summary>
	/// Gets or sets the text filter value.
	/// </summary>
	[Parameter]
    public string Text { get; set; } = string.Empty;

	/// <summary>
	/// Gets or sets the event callback for when the text filter value changes.
	/// </summary>
	[Parameter]
    public EventCallback<string> OnTextChanged { get; set; }
}
