@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";
@import "https://cdn.materialdesignicons.com/4.7.95/css/materialdesignicons.min.css";

:root {
    --some-color: #263238;
}

body {
    overflow: hidden;
}

    body ul {
        padding-inline-start: 0px;
        margin-bottom: 0px;
    }

/* width */
::-webkit-scrollbar {
    background-color: #edf1f0;
    float: left;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 15px;
    overflow-y: scroll;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
}

[data-theme="light"] {
    --background-color: #e9edf1;
    --logo-color: #009688;
    --title-color: #000;
    --card-background-color: #fff;
    --card-menu-color: #757575;
    --card-menu-cross-color: #fff;
    --card-menu-cross-active-color: #fff;
    --completed-color: #009688;
    --pending-color: #fec00a;
    --icon-color: #47a8f4;
    --high-color: #7ac29a;
    --medium-color: #fec00a;
    --low-color: #ff7946;
    --count-bg-color1: #fff;
    --count-bg-color2: #fff;
    --count-bg-color3: #fff;
    --count-bg-color4: #fff;
    --count-icon-bg-color1: #1e88e5;
    --count-icon-bg-color2: #00897b;
    --count-icon-bg-color3: #e46a76;
    --count-icon-bg-color4: #ab8ce4;
    --count-icon-color1: #fff;
    --count-icon-color2: #fff;
    --count-icon-color3: #fff;
    --count-icon-color4: #fff;
}

[data-theme="dark"] {
    --background-color: #383f48;
    --logo-color: #009688;
    --text-color: #c2c2c2;
    --title-color: #f2f2f3;
    --card-background-color: #272c33;
    --card-menu-color: #fff;
    --card-menu-cross-color: #fff;
    --card-menu-cross-acctive-acolor: #535353;
    --completed-color: #00c689;
    --pending-color: #ffab00;
    --icon-color: #0090e7;
    --high-color: #00897b;
    --medium-color: #ed9c28;
    --low-color: #fe4c4f;
    --count-bg-color1: #1e88e5;
    --count-bg-color2: #00897b;
    --count-bg-color3: #e46a76;
    --count-bg-color4: #ab8ce4;
    --count-icon-bg-color1: #fff;
    --count-icon-bg-color2: #fff;
    --count-icon-bg-color3: #fff;
    --count-icon-bg-color4: #fff;
    --count-icon-color1: #1e88e5;
    --count-icon-color2: #00897b;
    --count-icon-color3: #e46a76;
    --count-icon-color4: #ab8ce4;
}
