@namespace Carlton.Base.Components


<span class="mdi mdi-@(MenuItem.MenuIcon) accent-color-@(MenuItem.accentColorIndex)"></span>
<a href="#" @onclick:preventDefault="true" @onclick="MenuItem.MenuItemEvent">@MenuItem.MenuItemName</a>


@code {
    [Parameter]
    public DropdownMenuItem MenuItem { get; set; }
}