a {
    width: 100%;
    padding: 1em 18px;
    display: inline-block;
    white-space: pre;
    box-sizing: border-box;
    text-align: left;
    color: var(--dropdown-element-color);
}

.accent-color-1 {
    color: var(--dropdown-element-accent-color-1);
}

.accent-color-2 {
    color: var(--dropdown-element-accent-color-2);
}

.accent-color-3 {
    color: var(--dropdown-element-accent-color-3);
}

.accent-color-4 {
    color: var(--dropdown-element-accent-color-4);
}
