@namespace Carlton.Core.Components

<div class="error-prompt">
    <div class="error-header">
        <div class="content">
            <div class="@IconCss"></div>
            <span class="error-header-message">@ErrorHeader</span>
        </div>
    </div>
    <div class="error-body">
        <div class="content">
            <span class="error-message">@ErrorMessage</span>
            <button class="retry-btn" @onclick="Retry">Retry</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string ErrorHeader { get; set; }

    [Parameter]
    public string ErrorMessage { get; set; }

    [Parameter]
    public string ErrorIconClass { get; set; }

    [Parameter]
    public EventCallback Retry { get; set; }

    private string IconCss
    {
        get => new CssBuilder("icon")
                .AddClass("mdi mdi-48px")
                .AddClass($"{ErrorIconClass}")
                .Build();
    }
}
