

.error-prompt {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.error-header {
    height: 50%;
    text-align: center;
    background-color: #e46a76;
}

    .error-header .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .error-header .content .icon {
            color: white;
        }

        .error-header .content .error-header-message {
            color: white;
        }

.error-body {
    height: 50%;
    background-color: white;
}

    .error-body .content {
        height: 100%;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
    }

        .error-body .content .error-message {
            color: var(--primary-text-color);
            font-size: 8pt;
        }

        .error-body .content .retry-btn {
            height: 25px;
            width: 75px;
            margin-left: auto;
            margin-right: auto;
            background-color: #e46a76;
            color: white;
            border-radius: 20px;
            border-color: transparent;
            cursor: pointer;
        }
