
.header-row-item {
    display: flex;
    gap: 5px;
    color: var(--primary-text-color);
    font-weight: bold;
}

    .header-row-item .filter-arrows {
        display: none;
        gap: 5px;
    }

    .header-row-item.selected .filter-arrows {
        display: flex;
        gap: 0;
    }

    .header-row-item .arrow-ascending {
        display: none;
    }

    .header-row-item .arrow-descending {
        display: none;
    }

    .header-row-item.selected.ascending .arrow-ascending {
        display: inherit;
    }

    .header-row-item.selected.descending .arrow-descending {
        display: inherit;
    }
