.pagination-row-item {
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 20px;
    padding: 8px 0;
    margin-right: 15px;
    color: var(--primary-text-color);
    font-size: 10pt;
}

.rows-per-page {
    display: flex;
}

    .rows-per-page .rows-per-page-label {
        margin-top: auto;
        margin-bottom: auto;
        padding-right: 10px;
    }

    .rows-per-page ::deep.select {
        width: 30px
    }

.page-number {
    margin-top: auto;
    margin-bottom: auto;
}

.page-chevrons {
    margin-top: auto;
    margin-bottom: auto;
}

    .page-chevrons span.mdi {
        cursor: pointer;
    }

    .page-chevrons span.disabled {
        opacity: .5;
        cursor: not-allowed;
    }
