.toast {
    --notification-width: 250px;
    --notification-height: 50px;
    --notification-title-text-color: #fff;
    --notification-message-text-color: #d3d3d3;
}

    .toast {
        opacity: 1;
        transition: opacity .3s ease-in-out; /* Transition for opacity property */
        border-radius: 5px;
    }

        .toast.success {
            background-color: var(--success-notification-background-color);
        }

        .toast.info {
            background-color: var(--info-notification-background-color);
        }

        .toast.warning {
            background-color: var(--warning-notification-background-color);
        }

        .toast.error {
            background-color: var(--error-notification-background-color);
        }

        .toast.dismissed {
            opacity: 0;
        }

.content {
    display: flex;
    width: var(--notification-width);
    height: var(--notification-height);
    gap: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--notification-background-color);
}

    .content .icon {
        flex-basis: 10%;
        margin-top: auto;
        margin-bottom: auto;
        color: var(--notification-title-text-color);
    }

    .content .message-container {
        flex-basis: 90%;
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 10px;
    }

        .content .message-container .title {
            font-weight: bold;
            color: var(--notification-title-text-color);
        }


        .content .message-container .message {
            color: var(--notification-message-text-color);
            font-size: 8pt;
        }

    .content .dismiss {
        flex-basis: 5%;
        color: white;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 50px;
        cursor: pointer;
    }
