@namespace Carlton.Base.Components

<div class="card" data-theme="light">
    <div class="title-content">
        <h5 class="card-title">@CardTitle</h5>
        <span class="status-icon">
            @if (ActionBarContent == null)
            {
                <KebabMenu />
            }
            else
            {
                @ActionBarContent
            }
        </span>
    </div>
    <div class="header-content">
        @HeaderContent
    </div>
    <div class="primary-content">
        @PrimaryCardContent
    </div>
</div>

@code {
    [Parameter]
    public string CardTitle { get; set; }
    [Parameter]
    public RenderFragment ActionBarContent { get; set; }
    [Parameter]
    public RenderFragment HeaderContent { get; set; }
    [Parameter]
    public RenderFragment PrimaryCardContent { get; set; }
}