.card {
    display: flex;
    flex-direction: column;
    width: 325px;
    min-height: 100px;
    min-width: 0;
    padding-left: 15px;
    background-color: var(--card-background-color);
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

    .card .title-content {
        display: flex;
        margin-top: 5px;
    }

        .card .title-content .card-title {
            flex-basis: 75%;
            margin-top: auto;
            margin-bottom: auto;
            text-align: left;
            font-weight: bold;
            color: darkslategrey;
            /* color: var(--title-color);*/
        }

        .card .title-content .status-icon {
            flex-basis: 25%;
            text-align: right;
        }

