.card {
    width: 325px;
    min-height: 100px;
}

    .card .title-content {
        display: grid;
        grid-template-columns: 50% 50%;
    }

        .card .title-content .card-title {
            grid-column: 1;
            padding: 10px;
        }

        .card .title-content .status-icon {
            grid-column: 2;
        }

        .card .primary-content {
            margin-left: 10px;
        }


.theme-light .card {
    background-color: #fff;
}

.theme-dark .card {
    background-color: #272c33;
}

.theme-light .card {
    color: #757575;
}

.theme-dark .card {
    color: #c2c2c2;
}

.theme-light .card .card-title {
    color: #000;
}

.theme-dark .card .card-title {
    color: #f2f2f3;
}

.card .status-icon {
    text-align: right;
}

.card .sub-title {
    font-size: 10pt;
    margin-top: 20px;
}
