@namespace Carlton.Base.Components

<div class="card @(AccentColorClass)" data-theme="light">
    <div class="card-body">
        <div class="count-icon mdi mdi-36px @(Icon)"></div>
        <span class="count-message">@Message</span>
    </div>
</div>


@code {
    [Parameter]
    public int Count { get; set; }
    [Parameter]
    public string MessageTemplate { get; set; }
    [Parameter]
    public string Icon { get; set; }
    [Parameter]
    public string AccentColorClass { get; set; }


    public string Message
    {
        get
        {
            return $"{Count} {MessageTemplate}";
        }
    }
}

