@namespace Carlton.Base.Components

<div class="count-card @(AccentColorClass)" data-theme="light">
    <div class="count-icon mdi mdi-48px @(Icon)"></div>
    <span class="count-message">@Message</span>
</div>


@code {
    [Parameter]
    public int Count { get; set; }
    [Parameter]
    public string MessageTemplate { get; set; }
    [Parameter]
    public string Icon { get; set; }
    [Parameter]
    public string AccentColorClass { get; set; }


    public string Message
    {
        get
        {
            return $"{Count} {MessageTemplate}";
        }
    }
}

