.count-card {
    display: flex;
    width: 250px;
    padding: 1.25rem;
    background-color: var(--card-background-color);
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    font-family: 'Roboto', sans-serif;
}
    .count-card.accent-color-1 {
        background-color: var(--count-bg-color1);
    }

    .count-card.accent-color-2 {
        background-color: var(--count-bg-color2);
    }

    .count-card.accent-color-3 {
        background-color: var(--count-bg-color3);
    }

    .count-card.accent-color-4 {
        background-color: var(--count-bg-color4);
    }

    .count-card .count-icon {
        border-radius: 50px;
        height: 50px;
        width: 50px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

        .count-card .count-icon::before {
            line-height: initial;
        }

    .count-card.accent-color-1 .count-icon {
        background-color: var(--count-icon-bg-color1);
        color: var(--count-icon-color1);
    }

    .count-card.accent-color-2 .count-icon {
        background-color: var(--count-icon-bg-color2);
        color: var(--count-icon-color2);
    }

    .count-card.accent-color-3 .count-icon {
        background-color: var(--count-icon-bg-color3);
        color: var(--count-icon-color3);
    }

    .count-card.accent-color-4 .count-icon {
        background-color: var(--count-icon-bg-color4);
        color: var(--count-icon-color4);
    }

    .count-card .count-message {
        padding: 0px;
        text-align: left;
        font-size: 15pt;
        margin-top: auto;
        margin-bottom: auto;
        flex-basis: 75%;
        text-align: center;
        color: var(--title-color);
    }
