@namespace Carlton.Base.Components

<div class="count-card @(AccentColorClass)">
    <div class="@IconCss"></div>
    <span class="count-message">@Message</span>
</div>


@code {
    [Parameter]
    public int Count { get; set; }
    [Parameter]
    public string MessageTemplate { get; set; }
    [Parameter]
    public string Icon { get; set; }
    [Parameter]
    public string AccentColorClass { get; set; }


    public string Message
    {
        get =>  $"{Count} {MessageTemplate}";
    }

    private string IconCss
    {
        get => new CssBuilder("count-icon")
                .AddClass($"mdi mdi-48px {Icon}")
                .Build();
    }
}

