.card {
    width: 250px;
}
    
    .card .card-body{
        display: flex;
        width: 100%
    }

    .card.accent-color-1 {
        background-color: var(--count-bg-color1);
    }

    .card.accent-color-2 {
        background-color: var(--count-bg-color2);
    }

    .card.accent-color-3 {
        background-color: var(--count-bg-color3);
    }

    .card.accent-color-4 {
        background-color: var(--count-bg-color4);
    }

    .card .count-icon {
        border-radius: 50px;
        height: 50px;
        width: 50px;
        padding-left: 8px;
        padding-right: 6px;
        padding-top: 6px;
        flex-basis: 25%;
    }

        .card .count-icon::before {
            line-height: initial;
        }

    .card.accent-color-1 .count-icon {
        background-color: var(--count-icon-bg-color1);
        color: var(--count-icon-color1);
    }

    .card.accent-color-2 .count-icon {
        background-color: var(--count-icon-bg-color2);
        color: var(--count-icon-color2);
    }

    .card.accent-color-3 .count-icon {
        background-color: var(--count-icon-bg-color3);
        color: var(--count-icon-color3);
    }

    .card.accent-color-4 .count-icon {
        background-color: var(--count-icon-bg-color4);
        color: var(--count-icon-color4);
    }

    .card .count-message {
        padding: 0px;
        text-align: left;
        font-size: 15pt;
        margin-top: auto;
        margin-bottom: auto;
        flex-basis: 75%;
        text-align: center;
        color: var(--title-color);
    }

   