@namespace Carlton.Base.Components

@inherits Card
@typeparam TItem

<Card CardTitle="@CardTitle">
    <HeaderContent>
        @HeaderContent
    </HeaderContent>

    <ActionBarContent>
        <KebabMenu MenuItems="x" />
    </ActionBarContent>

    <PrimaryCardContent>
        <div class="sub-title">@SubTitle</div>

        <ul>
            @foreach(var item in Items)
            {
                <li>
                    @ItemTemplate(item)
                </li>
            }
        </ul>
    </PrimaryCardContent>
</Card>

@code {
    [Parameter]
    public string SubTitle { get; set; }
    [Parameter]
    public RenderFragment<TItem> ItemTemplate { get; set; }
    [Parameter]
    public IEnumerable<TItem> Items { get; set; }


    DropdownMenuItems x = new DropdownMenuItems
            (
                new List<DropdownMenuItem> 
                {
                    new DropdownMenuItem("Item 1", "icon", 1, () => Task.CompletedTask),
                    new DropdownMenuItem("Item 2", "icon", 1, () => Task.CompletedTask),
                   new DropdownMenuItem("Item 3", "icon", 1, () => Task.CompletedTask)
                }
            );

    protected override void OnInitialized()
    {

    base.OnInitialized();
    }
}

