ul {
    list-style: none;
    color: var(--list-card-color);
}

li {
    padding: 2px;
    color: var(--list-card-color);
}

.card .sub-title {
    color: var(--list-card-sub-title-color);
    font-size: 10pt;
}
