.javascript-markup-viewer{
	--javascript-markup-viewer-height: 230px;
}

.javascript-markup-viewer {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

pre{
	margin: 0;
}

code {
	height: var(--javascript-markup-viewer-height);
	overflow-y: scroll;
}