.tabs {
    --tab-font-size: 14px;
    --tab-hover-color: #7c848a;
}

.content {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: 15px;
}

    .content > a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        padding: 22px;
        text-transform: uppercase;
        font-size: var(--tab-font-size);
        font-weight: 600;
        color: var(--primary-text-color);
        text-align: center;
    }

.content > a.active {
    font-weight: 700;
    outline: none;
}

.content > a:hover {
    background-color: inherit;
    color: var(--tab-hover-color);
}

    .content .tab-selected-bar {
        left: var(--tab-select-bar-left);
        bottom: 0;
        height: 3px;
        width: 175px;
        display: block;
        position: absolute;
        z-index: 10;
        transition: left .2s ease;
        -webkit-transition: left .2s ease;
        background: var(--selected-color);
    }


