.tabs {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: 15px;
}

    .tabs > a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        padding: 22px;
        text-transform: uppercase;
        font-size: var(--tab-font-size);
        font-weight: 600;
        color: var(--tab-color);
        text-align: center;
    }

.tabs > a.active {
    font-weight: 700;
    outline: none;
}

.tabs > a:hover {
    background-color: inherit;
    color: var(--tab-hover-color);
}

    .tabs .tab-selected-bar {
        left: var(--tab-select-bar-left);
        bottom: 0;
        height: 3px;
        width: 175px;
        display: block;
        position: absolute;
        z-index: 10;
        transition: left .2s ease;
        -webkit-transition: left .2s ease;
        background: var(--tab-selected-color);
    }


