.mobile-tabs {
    --mobile-tab-bottom-nav-color: #252a32;
    --mobile-tab-bottom-nav-item-color: #f1f5f8;
    --mobile-tab-bottom-nav-item-active-color: #d32f2f;
}

.content {
    margin-top: 100px;
}

    .content .bottom-nav {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.8rem 0;
        background-color: var(--mobile-tab-bottom-nav-color);
        z-index: 99;
        will-change: transform;
        transform: translateZ(0);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    }

    .content .bottom-nav-item {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        text-align: center;
        font-size: 0.8rem;
        color: var(--mobile-tab-bottom-nav-item-color);
        cursor: pointer;
    }

        .content .bottom-nav-item.active {
            color: var(--mobile-tab-bottom-nav-item-active-color);
        }

    .content .bottom-nav-link {
        display: flex;
        flex-direction: column;
    }
