@namespace Carlton.Base.Components
@inherits TabBarBase

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>

<div class="mobile-tabs">
    <div class="content">
        <div class="bottom-nav">
            @foreach(Tab tab in Tabs)
            {
                <div class="bottom-nav-item @(tab==this.ActiveTab ? "active" : "")">
                    <div class="bottom-nav-link" @onclick="(args)=>ActivateTab(tab)">
                        <i class="mdi mdi-24px @tab.Icon"></i>
                        <span>@tab.DisplayText</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

