@namespace Carlton.Core.Components.Library
@typeparam TValue


<div class="accordion-select-group">
    @foreach (var (group, index) in Groups.WithIndex())
    {
        <AccordionSelect TValue="TValue"
                         Title="@group.Name"
                         Items="group.Items"
                         IsExpanded="@group.IsExpanded"
                         SelectedValue="GetSelectedValue(index)"
                         OnExpandedStateChanged="(isExpanded) => ChangeExpandedState(index, isExpanded)"
                         SelectedItemChanged="(item) => ChangeSelectedItem(index, item.Index, item.Value)" />
    }
</div>

@code {
    [Parameter]
    public IEnumerable<SelectGroup<TValue>> Groups { get; set; }

    [Parameter]
    public TValue SelectedItem { get; set; }

    [Parameter]
    public EventCallback<ExpandedStateChangedEventArgs> OnExpandedStateChanged { get; set; }

    [Parameter]
    public EventCallback<SelectItemChangedEventArgs<TValue>> OnSelectedItemChanged { get; set; }

    private bool IsDefaultExpanded(int groupIndex) => groupIndex == 0;

    private int _selectedGroupIndex;

    private TValue GetSelectedValue(int groupIndex)
    {
        if (groupIndex != _selectedGroupIndex)
            return default(TValue);

        return SelectedItem;
    }

    private async Task ChangeExpandedState(int groupIndex, bool isExpanded)
    {
        await OnExpandedStateChanged.InvokeAsync(new ExpandedStateChangedEventArgs(groupIndex, isExpanded));
    }

    private async Task ChangeSelectedItem(int groupIndex, int itemIndex, TValue value)
    {
        _selectedGroupIndex = groupIndex;
        SelectedItem = value;
        await OnSelectedItemChanged.InvokeAsync(new SelectItemChangedEventArgs<TValue>(groupIndex, itemIndex, value));
    }
}