
.test-outcome-column .test-outomce-icon {
	display: flex;
	gap: 10px;
}

.test-outcome-column .test-passed-icon {
	color: var(--accent-color-2);
}

.test-outcome-column .test-failed-icon {
	color: var(--accent-color-3);
}

.test-outcome-column .test-not-run-icon {
	color: var(--accent-color-5);
}
