
.table-container {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    background-color: var(--card-background-color);
    border-radius: 4px;
    border-bottom: 1px solid #DADADA;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .08);
}

    .table-container.zebra ::deep.table-row:nth-child(even) {
        background-color: var(--card-secondary-background-color);
    }

::deep .table-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding-left: 5px;
    border-bottom: 1px solid #dadada;
}

::deep .table-cell {
    display: flex;
    flex: 1;
    font-size: 14px;
    padding: 8px 0;
    align-items: center;
    color: var(--primary-text-color);
    transition: all 0.15s ease-in-out;
}

    ::deep .table-cell:hover {
        cursor: pointer;
        background-color: var(--card-hover-background-color);
        box-shadow: 0px 1px 4px rgba(0, 0, 0, .08);
    }


