@namespace Carlton.Core.Components.Library

<div class="page-title">
    <span class="title">@Title</span>
    <span class="bread-crumbs">@BreadCrumbsDisplay</span>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public IEnumerable<string> BreadCrumbItems { get; set; } = new List<string>();
    [Parameter]
    public char Separator { get; set; }

    private string BreadCrumbsDisplay
    {
        get => string.Join($" {Separator} ", BreadCrumbItems);
    }
}
