
.dropdown-menu {
	--dropdown-items-width: 250px;
	--dropdown-items-max-height: 350px;
	--dropdown-items-top: 45px;
	--dropdown-items-left: -115px;
	--dropdown-items-mobile-top: 75px;
	--dropdown-items-mobile-left: 0px;
}

.dropdown-menu {
	cursor: pointer;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
}

.dropdown-items {
	max-height: 0px;
	overflow: hidden;
	position: absolute;
	width: var(--dropdown-items-width);
	top: var(--dropdown-items-top);
	left: var(--dropdown-items-left);
	border-radius: 5px;
	opacity: 0;
	z-index: 3;
	transition: 0.5s max-height ease-in-out;
}

	.dropdown-items ul {
		margin: 0;
	}

	.dropdown-items.active {
		max-height: var(--dropdown-items-max-height);
		background-color: var(--card-background-color);
		border: 0.5px solid #c9c9c9;
		opacity: 1;
		display: inherit;
	}

	.dropdown-items li {
		display: flex;
		width: 100%;
	}

a {
	width: 100%;
	padding: 1em 18px;
	display: inline-block;
	white-space: pre;
	box-sizing: border-box;
	text-align: left;
	color: var(--primary-text-color);
}

.accent-color-1 {
	color: var(--accent-color-1);
}

.accent-color-2 {
	color: var(--accent-color-2);
}

.accent-color-3 {
	color: var(--accent-color-3);
}

.accent-color-4 {
	color: var(--accent-color-4);
}



/*Media Queries*/
@media (max-width: 768px) {
	.dropdown-items {
		position: fixed;
		width: 100%;
		top: var(--dropdown-items-mobile-top);
		left: var(--dropdown-items-mobile-left);
	}
}
