@namespace Carlton.Core.Components.Dropdowns
@inherits Dropdown

<div class="kebab-dropdown">
    <i class="@IconCss" @onclick="IconClick"></i>
    <div class="@OptionsCss">
        @foreach (var (opt, i) in Options.WithIndex())
        {
            <div class="option" @onclick="()=>OnValueChanged(new DropdownValueChangedArgs(i, opt.Key, opt.Value))">
                @opt.Key
            </div>
        }
    </div>
</div>


@code {
    private bool IsActive { get; set; }

    private void IconClick()
    {
        if (IsDisabled || !Options.Any())
            return;

        IsActive = !IsActive;
    }

    private string IconCss
        => new CssBuilder()
            .AddClass("mdi mdi-24px")
            .AddClass("disabled", IsDisabled || !Options.Any())
            .AddClass("mdi-dots-vertical", !IsActive)
            .AddClass("mdi-close-circle", IsActive)
            .Build();


    private string OptionsCss
        => new CssBuilder("options")
            .AddClass("active", IsActive)
            .Build();
}
