@using Carlton.Core.Components.Dropdowns
@using Carlton.Core.Components.PseudoElementComponents
@namespace Carlton.Core.Components.Dropdowns

@* Represents a profile avatar dropdown component for displaying user information and options. *@
<div class="profile-avatar-dropdown">
    <DropdownMenu MenuItems="DropdownMenuItems">
        <!-- Profile Avatar Menu -->
        <MenuTemplate>
            <div class="profile-avatar">
                <img class="avatar-img text-center" src="@AvatarImgUrl" />
                <span class="username mobile-hide">@Username</span>
                <span class="icon mdi mdi-24px mdi-chevron-down mobile-hide"></span>
            </div>
        </MenuTemplate>

        <!-- Dropdown Header -->
        <HeaderTemplate>
            <div class="header">
                <span class="user">Stephen Galazzo</span>
                <span class="email">Admin User</span>
                <HorizontalAccentDivider WidthPercentage="85" />
            </div>
        </HeaderTemplate>

        <!--Dropdown Items (not shown)-->
    </DropdownMenu>
</div>

@code {
    /// <summary>
    /// Gets or sets the URL of the avatar image.
    /// </summary>
    [Parameter]
    public string AvatarImgUrl { get; set; }

    /// <summary>
    /// Gets or sets the username to be displayed.
    /// </summary>
    [Parameter]
    public string Username { get; set; }

    /// <summary>
    /// Gets or sets the collection of dropdown menu items.
    /// </summary>
    [Parameter]
    public IEnumerable<DropdownMenuItem<int>> DropdownMenuItems { get; set; } = new List<DropdownMenuItem<int>>();
}   