@using Carlton.Core.Components.Dropdowns
@namespace Carlton.Core.Components

<div class="profile-avatar-dropdown">
    <DropdownMenu MenuItems="DropdownMenuItems">
        <MenuTemplate>
            <div class="profile-avatar">
                <img class="avatar-img text-center" src="@AvatarImgUrl" />
                <span class="username mobile-hide">@Username</span>
                <span class="icon mdi mdi-24px mdi-chevron-down mobile-hide"></span>
            </div>
        </MenuTemplate>
        <HeaderTemplate>
            <div class="header">
                <span class="user">Stephen Galazzo</span>
                <span class="email">Admin User</span>
                <Spacer WidthPercentage="85" />
            </div>
        </HeaderTemplate>
    </DropdownMenu>
</div>

@code {
    [Parameter]
    public string AvatarImgUrl { get; set; }
    [Parameter]
    public string Username { get; set; }
    [Parameter]
    public IEnumerable<DropdownMenuItem<int>> DropdownMenuItems { get; set; } = new List<DropdownMenuItem<int>>();
}   