.test-results-summary {
    display: flex;
    justify-content: space-evenly;
}

.summary-metric {
    display: flex;
}

.summary-count {
    height: 50px;
    width: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 50px;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
}


.summary-total-count {
    background-color: var(--accent-color-1);
}

.summary-passing-count {
    background-color: var(--accent-color-2);
}

.summary-failing-count {
    background-color: var(--accent-color-3);
}

.summary-time-count {
    background-color: var(--accent-color-4);
}

.summary-text {
    max-width: 50px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 12pt;
    color: var(--primary-text-color);
}
