<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Carlton Component TestBed</title>
    <base href="/" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/styles/default.min.css">
    <link rel="stylesheet" href="_content/Carlton.Core.Components/styles/styles.css" />
    <link rel="stylesheet" href="_content/Carlton.Core.Lab/styles/styles.css" />
    <link rel="stylesheet" href="Carlton.Core.Components.Lab.styles.css" />
</head>
<body>
    <app>Loading...</app>
    <script type="text/javascript" src="_framework/blazor.webassembly.js"></script>
    <script type="text/javascript" src="_content/BlazorIndexedDB/dexie.min.js"></script>
    <script type="text/javascript" src="_content/BlazorIndexedDB/blazorDB.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script type="module" src="_content/Carlton.Core.Components/ResizablePanel/ResizablePanel.razor.js"></script>
    <script type="module" src="_content/Carlton.Core.Components/Toasts/Toast.razor.js"></script>
    <script type="module" src="_content/Carlton.Core.Components/SourceViewer/SourceViewer.razor.js"></script>
</body>
</html>

