@namespace Carlton.Core.Components.Layouts
@implements IDisposable
@inject ILayoutState LayoutState

<div class="@LogoCss">
    <div class="content">
        <img src="_content/Carlton.Core.Components/images/CarltonLogo.png" />
        <span class="title">@Title</span>
    </div>
</div>



@code {
    [Parameter]
    public string Title { get; set; }

    protected override void OnInitialized()
    {
        LayoutState.LayoutNavCollapsedChanged += OnLayoutNavCollapsedChanged;
        base.OnInitialized();
    }

    private void OnLayoutNavCollapsedChanged(object sender, LayoutNavCollapsedChangedEventsArgs args)
    {
        StateHasChanged();
    }

    private string LogoCss 
    {
        get => new CssBuilder("logo")
                .AddClass("collapsed", LayoutState.IsCollapsed)
                .Build();
    }

    public void Dispose()
    {
        LayoutState.LayoutNavCollapsedChanged -= OnLayoutNavCollapsedChanged;
    }
}
