@using Carlton.Core.Components.Layouts.State.FullScreen
@namespace Carlton.Core.Components.Layouts

@implements IDisposable
@inject IFullScreenState FullScreenState

<div class="@LogoCss">
    <div class="content">
        <img src="_content/Carlton.Core.Components/images/CarltonLogo.png" />
        <span class="title">@Title</span>
    </div>
</div>



@code {
    [Parameter]
    public string Title { get; set; }

    protected override void OnInitialized()
    {
        FullScreenState.FullScreenStateChanged += OnFullScreenStateChanged;
        base.OnInitialized();
    }

    private void OnFullScreenStateChanged(object sender, FullScreenStateChangedEventArgs args)
        => StateHasChanged();

    private string LogoCss 
    {
        get => new CssBuilder("logo")
                .AddClass("collapsed", FullScreenState.IsFullScreen)
                .Build();
    }

    public void Dispose() => FullScreenState.FullScreenStateChanged -= OnFullScreenStateChanged;
}
