@namespace Carlton.Core.Components.Flux.Admin
@inherits LayoutComponentBase

<DashboardLayout ShowTabPanel="true" >
    <NavContent>
        <NavMenu />
    </NavContent>
    <PageTitleContent>
        <span>Admin</span>
    </PageTitleContent>
    <Body>
        @Body
    </Body>
    <Tabs>
@*        <ComponentLabTabs />*@
    </Tabs>
</DashboardLayout>



