@namespace Carlton.Core.Components.Flux.Admin
@using Carlton.Core.Components.Flux.Contracts
@using Microsoft.AspNetCore.Components.Routing
@inherits LayoutComponentBase
@inject IBrowserStorageService BrowserStorageService
@inject NavigationManager NavigationManager

<DashboardLayout ShowTabPanel="false">
    <NavContent>
        <FluxDebugNavMenu />
    </NavContent>
    <PageTitleContent>
        <BreadCrumbs Title="Admin" Separator="'>'" BreadCrumbItems="new string[] {GetCurrentPage()}" />
    </PageTitleContent>
    <HeaderActionContent>
        <FluxDebugHeaderActions />
    </HeaderActionContent>
    <Body>
        @Body
    </Body>
    <Tabs>
    </Tabs>
</DashboardLayout>


@code {

    protected override async Task OnInitializedAsync()
    {
        NavigationManager.LocationChanged += LocationChanged;
        await base.OnInitializedAsync();
    }

    private async void LocationChanged(object sender, LocationChangedEventArgs args)
    {
        await BrowserStorageService.CommitLogs();
    }

    private string GetCurrentPage()
    {
        // Get the full URI
        string fullUri = NavigationManager.Uri;

        // Get the base URI of the app
        string baseUri = NavigationManager.BaseUri;

        // Extract the tail end of the route (current page) by removing the base URI
        var currentRoute = fullUri.Substring(baseUri.Length).Split('/').Last();

        //Title case the route
        return char.ToUpper(currentRoute[0]) + currentRoute.Substring(1);
    }
}
