@using Carlton.Core.Components
@using Carlton.Core.Components.DropdownMenu
@using Carlton.Core.Components.Layouts
@using Carlton.Core.Components.Layouts.State.Modals
@using Carlton.Core.Components.Layouts.State.Theme
@using Carlton.Core.Components.Layouts.State.Toasts
@using Carlton.Core.Components.Modals
@using Carlton.Core.Flux.Debug.Layouts
@using Carlton.Core.Layouts.Components.Notifications
@namespace Carlton.Core.Flux.Debug.Layouts
@inherits BaseConnectedComponent<HeaderActionsViewModel>
@inject IThemeState ThemeState
@inject IModalState ModalState
@inject NavigationManager NavigationManager
@inject IToastState ToastState

<div class="flux-debug-header-actions">
    <ThemeMenu />
    <NotificationMenu />
    <FluxDebugReturnMenu />
    <ProfileAvatar Username="@UserName"
                   AvatarImgUrl="@AvatarUrl"
                   DropdownMenuItems="DropdownMenuItems" />
</div>

@code {

    [Parameter]
    public string UserName { get; set; }
    [Parameter]
    public string AvatarUrl { get; set; }
    [Parameter]
    public IEnumerable<DropdownMenuItem<int>> DropdownMenuItems { get; set; }
}