@using Microsoft.AspNetCore.Components.Routing
@using Mapster
@using MapsterMapper
@using Carlton.Core.Layouts
@using Carlton.Core.Flux.Debug.Components.Nav
@using Carlton.Core.Flux.Debug.Layouts.Header
@namespace Carlton.Core.Flux.Debug.Layouts
@inherits LayoutComponentBase
@inject IBrowserStorageService BrowserStorageService
@inject NavigationManager NavigationManager
@inject IFluxState<FluxDebugState> FluxDebugState
@inject IMapper Mapper

<DashboardLayout ShowTabPanel="false">
    <NavContent>
        <FluxDebugNavMenu />
    </NavContent>
    <PageTitleContent>
        <BreadCrumbs Title="Debug" Separator="'>'" BreadCrumbItems="new string[] {GetCurrentPage()}" />
    </PageTitleContent>
    <HeaderActionContent>
        <FluxDebugHeaderActions />
    </HeaderActionContent>
    <Body>
        @if (LoadingComplete)
        {
            @Body
        }
        else
        {
            <Spinner />
        }
    </Body>
    <PanelContent>
    </PanelContent>
</DashboardLayout>


@code {
    private bool LoadingComplete { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        //Save Logs from your in app memory loggers to IndexDB
        await BrowserStorageService.CommitLogs();

        //Get todays logs to hydrate a FluxDebug state object
        var logs = await BrowserStorageService.GetLogs(DateTime.Now.Date);

        //Hydrate a FluxDebug state object
        var newState = new FluxDebugState(new object(), logs);

        //Replace the container state with our constructed state
        //via the magic of reflection
        Mapper.Map(newState, FluxDebugState.State);

        //Allow the child components to render
        LoadingComplete = true;

        await base.OnInitializedAsync();
    }

    private string GetCurrentPage()
    {
        // Get the full URI
        string fullUri = NavigationManager.Uri;

        // Get the base URI of the app
        string baseUri = NavigationManager.BaseUri;

        // Extract the tail end of the route (current page) by removing the base URI
        var currentRoute = fullUri.Substring(baseUri.Length).Split('/').Last();

        //Title case the route
        return char.ToUpper(currentRoute[0]) + currentRoute.Substring(1);
    }
}
