@using Carlton.Core.Components.Buttons
@namespace Carlton.Core.Flux.Debug.Components.StateViewer.Viewer


<div class="@(TableRowCss(Mutation.MutationIndex))">
	<div class="table-cell"><span class="cell-text">@Mutation.MutationIndex</span></div>
	<div class="table-cell"><span class="cell-text">@Mutation.MutationDate.ToString("MM/dd/yyyy HH:mm:ss.fffffff")</span></div>
	<div class="table-cell"><span class="cell-text">@Mutation.MutationName</span></div>
	<div class="table-cell"><span class="cell-text"><LinkButton Text="Select" OnClick="async () => await OnRecordedMutationSelected.InvokeAsync(new SelectedMutationCommandChangedArgs(Mutation.MutationIndex))" /></span></div>
</div>

@code {

	[Parameter]
	public RecordedMutation Mutation { get; set; }

	[Parameter]
	public bool IsSelected { get; set; }

	[Parameter]
	public EventCallback<SelectedMutationCommandChangedArgs> OnRecordedMutationSelected { get; set; }

	private string TableRowCss(int index) =>
		new CssBuilder("table-row")
		.AddClass("selected", IsSelected)
		.Build();
}
