@using BlazorComponentUtilities
@namespace Carlton.Core.Lab
@inject NavigationManager NavigationManager

@*
    Represents a debug menu component for navigating to debug logs.
*@
<a href="#" class="debug-menu" @onclick:preventDefault="true" @onclick="NavigateToDebug">
	<i class="@DebugIconCss"></i>
</a>


@code {
	// CSS class for the debug icon
	private string DebugIconCss
	{
		get => new CssBuilder()
				.AddClass("mdi mdi-24px")
				.AddClass("mdi-bug-outline")
				.Build();
	}

	private void NavigateToDebug()
	{
		NavigationManager.NavigateTo($"/debug/logs");
	}
}

