@using Carlton.Core.Components.Dropdowns
@using Carlton.Core.Components.Layouts
@using Carlton.Core.LayoutServices.Theme
@using Carlton.Core.LayoutServices.Toasts
@namespace Carlton.Core.Lab.Layouts
@inject IThemeState ThemeState
@inject NavigationManager NavigationManager

@*
    Represents header actions for the component lab layout.
*@
<div class="component-lab-header-actions">
    <ThemeMenu />
    <NotificationMenu />
    <DebugMenu />
    <ProfileAvatarDropdown
        Username="Stephen"
        AvatarImgUrl="_content/Carlton.Core.Components/images/avatar.jpg"
        DropdownMenuItems="DropdownMenuItems" />
</div>


@code {
	// Generates the dropdown menu items
    private IEnumerable<DropdownMenuItem<int>> DropdownMenuItems
    {
        get
        {
            return new List<DropdownMenuItem<int>>
            {
                new DropdownMenuItem<int>("Profile", 1, "account", 1, () => { }),
                new DropdownMenuItem<int>("Theme", 2, "theme-light-dark", 2, ThemeState.ToggleTheme),
                new DropdownMenuItem<int>("Debug", 3, "bug-outline", 3, () => NavigationManager.NavigateTo($"/debug/logs")),
                new DropdownMenuItem<int>("Logout", 4, "logout", 4, () => { })
            };
        }
    }
}