.dropdown-menu {
    cursor: pointer;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

.dropdown {
    position: absolute;
    width: 200px;
    left: var(--dropdown-left);
    top: var(--dropdown-top);
    opacity: 0;
    display:none;
    z-index: 3;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

    .dropdown ul {
        margin: 0;
    }

    .dropdown.active {
        background-color: var(--card-background-color);
        opacity: 1;
        display: inherit;
    }

    .dropdown li {
        display: flex;
        width: 100%;
    }

/*Media Queries*/
@media (max-width: 768px) {
    .dropdown {
        top: var(--dropdown-top-mobile);
    }
}

