.slide-out-nav .icon{
    color: white;
}

.menu-content-container {
    display: none;
    height: 100vh;
    background-color: var(--layout-nav-background-color);
    z-index: 11;
    transition: left 1s;
}

    .menu-content-container.active {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        margin-top: 75px;
    }


