@using Carlton.Core.Layouts.Components
@namespace Carlton.Core.Components.Layouts
@inherits LayoutComponentBase

<LayoutTemplate IsFixedFooter="true">
    <HeaderContent>
        <Header NavMenuContent="NavContent" PageTitleContent="PageTitleContent" HeaderActionsContent="HeaderActionContent"  />
    </HeaderContent>
    <NavContent>
        <NavTemplate Title="@Title" NavContent="NavContent" />
    </NavContent>
    <Body>
        @if (ShowPanel)
        {
            <MediaQueryWrapper>
                <DesktopContent>
                    <ResizablePanel>
                        <TopContent>
                            @Body
                        </TopContent>
                        <BottomContent>
                            @PanelContent
                        </BottomContent>
                    </ResizablePanel>
                </DesktopContent>
                <MobileContent>
                    <div class="mobile-body-content">
                        @Body
                    </div>
                    <div class="mobile-panel-content">
                        @PanelContent
                    </div>
                </MobileContent>
            </MediaQueryWrapper>
        }
        else
        {
            @Body
        }
    </Body>
    <FooterContent>
        <Footer />
    </FooterContent>
</LayoutTemplate>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public bool ShowPanel { get; set; }
    [Parameter]
    public RenderFragment PageTitleContent { get; set; }
    [Parameter]
    public RenderFragment HeaderActionContent { get; set; }
    [Parameter]
    public RenderFragment NavContent { get; set; }
    [Parameter]
    public RenderFragment PanelContent { get; set; }
}



