@using Carlton.Core.Components.Toasts
@namespace Carlton.Core.Components.Layouts.Toasts

<div class="test-btns">
    <button class="success-btn" @onclick="@(
                () => GenerateNotification(new ToastViewModel(ToastIndex, "Test", "Test", ToastTypes.Success)
                {
                    FadeOutEnabled = false
                }))">
        Success
    </button>
    <button class="info-btn" @onclick="@(
                () => GenerateNotification(new ToastViewModel(ToastIndex, "Test", "Test", ToastTypes.Info)
                {
                    FadeOutEnabled = false
                }))">
        Info
    </button>
    <button class="warning-btn" @onclick="@(
                () => GenerateNotification(new ToastViewModel(ToastIndex, "Test", "Test", ToastTypes.Warning)
                {
                    FadeOutEnabled = false
                }))">
        Warning
    </button>
    <button class="error-btn" @onclick="@(
                () => GenerateNotification(new ToastViewModel(ToastIndex, "Test", "Test", ToastTypes.Error)
                {
                    FadeOutEnabled = false
                }))">
        Error
    </button>
</div>


@code {
    [Parameter]
    public int ToastIndex { get; set; }
    [Parameter]
    public Action<ToastViewModel> GenerateNotification { get; set; }
}