@using Carlton.Core.Components.Toasts
@using Carlton.Core.Components.Layouts.State.Toasts
@namespace Carlton.Core.Components.Layouts.Toasts
@inject IToastState ToastState

@* Represents a component for displaying notifications and raising toast messages. *@
<div class="notifications" @onclick="@OnClick">
    <i class="mdi mdi-24px mdi-bell-outline"></i>
    <div class="notify">
        <span class="point">@NotificationCount</span>
    </div>
</div>

@code {
    /// <summary>
    /// Gets or sets the count of notifications to display.
    /// </summary>
    [Parameter]
    public int NotificationCount { get; set; }

    // Index for tracking toast messages
    private int index = 0;

    /// <summary>
    /// Handles the click event for the notifications component.
    /// </summary>
    public void OnClick()
    {
        ToastState.RaiseToast(index.ToString(), "Testing 123", ToastTypes.Success);
        index = (index + 1) % 3;
    }
}