@using Carlton.Core.Components.Buttons
@using Carlton.Core.Components.Consoles
@namespace Carlton.Core.Lab.Components
@attribute [ObserveStateEvents("EventRecorded")]
@attribute [ObserveStateEvents("EventsCleared")]
@inherits BaseConnectedComponent<EventConsoleViewModel>

<div class="event-console">
    <Console IsReadOnly="true" Text="@RecordedEventsText" />
    <IconButton Icon="delete"
                   OnClickCallback="this.RaiseComponentFluxEvent<EventConsoleViewModel, ClearEventsCommand>" />
</div>

@code {

    private string RecordedEventsText { get; set; }

    protected override void OnParametersSet()
    {
        var consoleText = new StringBuilder();
        foreach(var evt in ViewModel.RecordedEvents)
        {
            var args = (evt.EventObj == null) ? "{}" : JsonSerializer.Serialize(evt.EventObj);
            consoleText.AppendLine($"{evt.Name}: {args}");
        }
        RecordedEventsText = consoleText.ToString().Trim();
        base.OnParametersSet();
    }
}


