@using Carlton.Core.Components.Consoles
@namespace Carlton.Core.Lab.Components
@attribute [ObserveStateEvent("MenuItemSelected")]
@attribute [ObserveStateEvent("ParametersUpdated")]
@inherits BaseConnectedComponent<ParametersViewerViewModel>


<div class="parameters-viewer">
    <JsonViewerConsole Obj="ViewModel.ComponentParameters"
                       IsReadOnly="false"
                       OnValueChange="this.RaiseComponentFluxEvent<ParametersViewerViewModel, UpdateParametersCommand>" />
</div>



