@namespace Carlton.Core.Components.Lab

<div class="carlton-actions">
    <ThemeMenu />
    <Notifications />
    <ProfileAvatar Username="Stephen" AvatarImgUrl="_content/Carlton.Core.Components.Library/images/avatar.jpg" />
</div>


