@namespace Carlton.Core.Components.Lab
@inherits LayoutComponentBase

<DashboardLayout ShowTabPanel="true" >
    <NavContent>
        <LabConnectedComponent TViewModel="NavMenuViewModel" />
    </NavContent>
    <PageTitleContent>
        <LabConnectedComponent TViewModel="BreadCrumbsViewModel" />
    </PageTitleContent>
    <Body>
        @Body
    </Body>
    <Tabs>
        <ComponentLabTabs />
    </Tabs>
</DashboardLayout>









