.carlton-actions {
    display: flex;
    gap: 10px;
}

    .carlton-actions .icon {
        margin-top: auto;
        margin-block: auto;
        color: var(--carlton-header-actions-color);
    }

    .carlton-actions ::deep .vertical-spacer {
        border-left-color: var(--carlton-header-actions-color);
    }