@namespace Carlton.Base.Components

<a href="#" class="theme-menu" @onclick="SwapTheme">
    <i class="mdi mdi-24px mdi-@(LayoutState.Theme == Themes.light ? "weather-sunny" : "moon-waxing-crescent")"></i>
</a>


@code {
    [CascadingParameter]
    private LayoutState LayoutState { get; set; }

    private void SwapTheme()
    {
        if(LayoutState.Theme == Themes.light)
        {
            LayoutState.SetTheme(Themes.dark);
        }
        else
        {
            LayoutState.SetTheme(Themes.light);
        }
    }
}
