@namespace Carlton.Core.Components.Lab
@inherits LayoutComponentBase

<DashboardLayout ShowTabPanel="true" >
    <NavContent>
        <ConnectedComponent TViewModel="NavMenuViewModel" />
    </NavContent>
    <PageTitleContent>
        <ConnectedComponent TViewModel="BreadCrumbsViewModel" />
    </PageTitleContent>
    <Body>
        <ConnectedComponent TViewModel="ComponentViewerViewModel" />
    </Body>
    <Tabs>
        <TestBedTabs />
    </Tabs>
</DashboardLayout>









