@namespace Carlton.Core.Components.Library

<div class="@SlideOutNavCss">
    <a href="#" @onclick="() => MenuVisible=!MenuVisible">
        <span class="@SlideOutNavIconCss" />
    </a>
</div>

<div class="menu-content-container @(MenuVisible ? "active" : string.Empty)">
    @NavMenuContent
</div>


@code{
    [Parameter]
    public RenderFragment NavMenuContent { get; set; }

    private bool MenuVisible { get; set; } 

    private string SlideOutNavCss
    {
        get => new CssBuilder("slide-out-nav")
                .AddClass("menu", MenuVisible)
                .Build();
    }

    private string SlideOutNavIconCss
    {
        get => new CssBuilder("icon")
            .AddClass("mdi mdi-24px")
            .AddClass("mdi-close", MenuVisible)
            .AddClass("mdi-menu", !MenuVisible)
            .Build();
    }

}

