

.header-cell {
    color: var(--primary-text-color);
    font-weight: bold;
}

    .header-cell .heading-container{
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .header-cell .filter-arrows {
        display: none;
        gap: 5px;
    }

    .header-cell.selected .filter-arrows {
        display: flex;
        gap: 0;
    }

    .header-cell .arrow-ascending {
        display: none;
    }

    .header-cell .arrow-descending {
        display: none;
    }

    .header-cell.selected.ascending .arrow-ascending {
        display: inherit;
    }

    .header-cell.selected.descending .arrow-descending {
        display: inherit;
    }
