@namespace Carlton.Core.Components.Tables
@typeparam TItem


@foreach (var (heading, i) in Headings.WithIndex())
{
    <div class="@HeaderCellCss(heading.OrderingName, i)" @onclick="()=>HeaderRowItemClick(heading.OrderingName)">
        <div class="heading-container">
            <span class="heading-text">@heading.DisplayName</span>
            <div class="sort-arrows">
                <span class="arrow-ascending mdi mdi-arrow-up"></span>
                <span class="arrow-descending mdi mdi-arrow-down"></span>
            </div>
        </div>
    </div>
}


@code {
    [Parameter]
    public IEnumerable<TableHeadingItem> Headings { get; set; }

    [Parameter]
    public string SelectedOrderColumn { get; set; } = string.Empty;

    [Parameter]
    public bool OrderAscending { get; set; } = true;

    [Parameter]
    public EventCallback<TableOrderingChangedArgs> ItemsOrdered { get; set; }

    protected override void OnInitialized()
    {
        var allowableOrderingColumns = Headings.Select(_ => _.OrderingName).Append(string.Empty);

        if (!allowableOrderingColumns.Contains(SelectedOrderColumn))
            throw new ArgumentException($"Attempting to order the table by a non-existent column: {SelectedOrderColumn}");

        base.OnInitialized();
    }

    private string HeaderCellCss(string column, int index)
    {
        return new CssBuilder("header-cell")
                .AddClass("table-cell")
                .AddClass("selected", SelectedOrderColumn == column)
                .AddClass("ascending", OrderAscending)
                .AddClass("descending", !OrderAscending)
                .AddClass($"heading-{index}")
                .Build();
    }

    private async Task HeaderRowItemClick(string selectedOrderColumn)
    {
        OrderAscending = (SelectedOrderColumn == selectedOrderColumn) ? !OrderAscending : true;
        SelectedOrderColumn = selectedOrderColumn;
        await OrderItems();
    }

    private async Task OrderItems()
    {
        //If no oreder column is specified 
        //do not trigger an ordering
        if (string.IsNullOrEmpty(SelectedOrderColumn))
            return;

        await ItemsOrdered.InvokeAsync(new TableOrderingChangedArgs(SelectedOrderColumn, OrderAscending));
    }
}
