@namespace Carlton.Core.Components.Cards

@* Represents a card component with customizable title, action bar, header, and primary content. *@
<div class="card">
    <div class="content">
        <!--Title Content-->
        <div class="title-content">
            <span class="card-title">@CardTitle</span>
            <div class="action-content">
                @ActionBarContent
            </div>
        </div>
        <!--Header Content-->
        <div class="header-content">
            @HeaderContent
        </div>
        <!--Primary Content-->
        <div class="primary-content">
            @PrimaryCardContent
        </div>
    </div>
</div>

@code {
    /// <summary>
    /// Gets or sets the title of the card.
    /// </summary>
    [Parameter]
    public string CardTitle { get; set; }
    
    /// <summary>
    /// Gets or sets the content for the action bar of the card.
    /// </summary>
    [Parameter]
    public RenderFragment ActionBarContent { get; set; }
    
    /// <summary>
    /// Gets or sets the content for the header of the card.
    /// </summary>
    [Parameter]
    public RenderFragment HeaderContent { get; set; }
    
    /// <summary>
    /// Gets or sets the primary content of the card.
    /// </summary>
    [Parameter]
    public RenderFragment PrimaryCardContent { get; set; }
}