@using Carlton.Core.Components.Dropdowns
@namespace Carlton.Core.Components.Cards

@inherits Card
@typeparam TItem

<Card CardTitle="@CardTitle">
    <HeaderContent>
        @HeaderContent
    </HeaderContent>

    <ActionBarContent>
        <KebabMenu Options="MenuItems" />
    </ActionBarContent>

    <PrimaryCardContent>
        <div class="sub-title">@SubTitle</div>

        <ul>
            @foreach (var item in Items)
            {
                <li>
                    @ItemTemplate(item)
                </li>
            }
        </ul>
    </PrimaryCardContent>
</Card>

@code {
    [Parameter]
    public string SubTitle { get; set; }
    [Parameter]
    public RenderFragment<TItem> ItemTemplate { get; set; }
    [Parameter]
    public IEnumerable<TItem> Items { get; set; }
    [Parameter]
    public Dictionary<string, int> MenuItems { get; set; } = new();
}

