@namespace Carlton.Core.Components.Layouts
@inject ILayoutState LayoutState

<div class="collapser">
    <a href="#" @onclick:preventDefault @onclick="LayoutState.ToggleCollapsedState" >
        <span class="mdi mdi-24px mdi-menu" />
    </a>
</div>

