@using Carlton.Core.Components.Layouts.State
@namespace Carlton.Core.Components.Layouts

<div class="collapser">
    <a href="#" @onclick:preventDefault >
        <span class="mdi mdi-24px mdi-menu" />
    </a>
</div>


@code {
    // [CascadingParameter]
    // private LayoutState LayoutState { get; set; }
}
