@using System.Text.Json
@using Carlton.Core.Components.Consoles

<div class="log-exception-details">
    <JsonViewerConsole Obj="@LogMessage" IsReadOnly="true" />
</div>


@code {
    [Parameter]
    public LogMessage? LogMessage { get; set; }
}