@using System.Text.Json
@using Carlton.Core.Components.Consoles

@* Component for displaying log exception details. *@
<div class="log-exception-details">
    <JsonViewerConsole Object="@LogMessage" IsReadOnly="true" />
</div>


@code {
	/// <summary>
	/// Gets or sets the log message to display.
	/// </summary>
	[Parameter]
    public LogMessage? LogMessage { get; set; }
}