.nav-menu {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 80%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.nav-menu .nav-item {
	display: flex;
	height: 50px;
	padding-left: 10px;
	color: white;
	border-radius: 10px;
	cursor: pointer;
}

	.nav-menu .nav-item ::deep a {
		width: 100%;
		color: white;
		text-decoration: none;
	}

	.nav-item:hover {
		background-color: gray;
		opacity: .75;
	}

	.nav-item:has(a.active) {
		background-color: gray;
	}


.nav-link-content {
	display: flex;
	height: 100%;
	gap: 10px;
}

	.nav-link-content span {
		color: white;
		text-decoration: none;
	}

	.nav-link-content .nav-item-icon {
		margin-top: auto;
		margin-bottom: auto;
	}


.nav-item-text {
	margin-top: auto;
	margin-bottom: auto;
	color: white;
}
