.hamburger {
    display: inherit;
    color: #757575;

    transition: all 0.25s cubic-bezier(0.72, 1.2, 0.71, 0.72);
    transform: scale(1);
}

    .hamburger.active {
        display: none;
    }

.close {
    display: none;
    color: #757575;
}

    .close.active {
        display: inherit;
    }


