@using System.Text.Json
@using Carlton.Core.Components.Consoles
@using Carlton.Core.Flux.Models

<div class="trace-log-request-object-details">
    <JsonViewerConsole Obj="@RequestToSerialize" IsReadOnly="true" />
</div>


@code {
    [Parameter]
    public object? SelectedRequestObject { get; set; }

    private object? RequestToSerialize => SelectedRequestObject ?? null;
}