
.table-row:hover{
	background: initial;
}

.table-row.starting-row {
	background-color: var(--card-background-color);
	border-bottom: transparent;
}

	.table-row.starting-row.selected {
		background-color: var(--table-row-selected-background-color);
	}

.table-row .table-cell:first-of-type {
	max-width: 25px;
}

.table-row.child-row {
	background-color: var(--card-secondary-background-color);
	border-bottom: transparent;
}

.table-cell {
}

	.table-cell .cell-text {
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		overflow-wrap: anywhere;
	}

.chevron-cell {
	margin-top: auto;
	margin-bottom: auto;
	color: var(--primary-text-color);
}

	.chevron-cell .chevron{
		cursor: pointer;
	}

	.chevron-cell .chevron.dimmed {
		opacity: .5;
		cursor: default;
		cursor: initial;
	}





.child-row {
}

	.child-row.selected {
		background-color: var(--table-row-selected-background-color);
	}

	.child-row.collapased {
		display: none;
	}
