@using System.Text.Json
@using Carlton.Core.Components.Consoles


<div class="trace-log-request-context-details">
    <JsonViewerConsole Obj="@RequestToSerialize" IsReadOnly="true" />
</div>


@code {
    [Parameter]
    public object? SelectedRequestContext { get; set; }

    private object? RequestToSerialize => SelectedRequestContext ?? null;
}