.carlton-fab {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    box-shadow: 0 6px 10px 0 #666;
    color: white;
    position: absolute;
    right: var(--carlton-fab-right);
    bottom: var(--carlton-fab-bottom);
    background-color: var(--selected-color);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.carlton-fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}
