
[data-theme="light"] {
    /*Layout Themeing*/
    --layout-main-background-color: #f4f3ef;
    --layout-nav-background-color: #212120;
    --layout-footer-background-color: #272b34;
    --layout-footer-color: #fff;
    --layout-header-background-color: #f4f3ef;
    --layout-mobile-header-background-color: #212120;
    --layout-mobile-header-primary-text-color: #fff;
    /*Logo*/
    --logo-background-color: #212120;
    --logo-color: #fff;
    --logo-font-size: 12pt;
    /*Text*/
    --primary-text-color: #5e5e5e;
    --secondary-text-color: #9a9a9a;
    --nav-text-color: #fff;
    --selected-color: #21c1d6;
    --icon-color: #5e5e5e;
    --mobile-icon-color: #fff;
    --spacer-color: #5e5e5e;
    /*Accents*/
    --accent-neutral: #808080;
    --accent-color-1: #1e88e5;
    --accent-color-2: #00897b;
    --accent-color-3: #e46a76;
    --accent-color-4: #ab8ce4;
    --accent-color-5: #c78c04;
    --accent-color-6: #b22222;
    /*Cards*/
    --card-background-color: #fff;
    --card-secondary-background-color: #f2f2f2;
    --card-hover-background-color: #e9ecef;
    /*Console*/
    --console-background-color: #282c34;
    --console-color: #7FFF00;
    --console-error-color: #ff0000;
}


[data-theme="dark"] {
    /*Layout Themeing*/
    --layout-main-background-color: #323743;
    --layout-nav-background-color: #212120;
    --layout-footer-background-color: #272b34;
    --layout-footer-color: #fff;
    --layout-header-background-color: #323743;
    --layout-mobile-header-background-color: #212120;
    --layout-mobile-header-primary-text-color: #fff;
    /*Logo*/
    --logo-background-color: #212120;
    --logo-color: #fff;
    --logo-font-size: 12pt;
    /*Text*/
    --primary-text-color: #fff;
    --secondary-text-color: #a1aab2;
    --nav-text-color: #fff;
    --selected-color: #21c1d6;
    --icon-color: #fff;
    --mobile-icon-color: #fff;
    --spacer-color: #5e5e5e;
    /*Accents*/
    --accent-neutral: #808080;
    --accent-color-1: #1e88e5;
    --accent-color-2: #00897b;
    --accent-color-3: #e46a76;
    --accent-color-4: #ab8ce4;
    --accent-color-5: #c78c04;
    --accent-color-6: #b22222;
    /*Cards*/
    --card-background-color: #272b34;
    --card-secondary-background-color: #333742;
    --card-hover-background-color: #828487;
    /*Console*/
    --console-background-color: #2C2C2C;
    --console-color: #7FFF00;
    --console-error-color: #DC143C;
}


