@namespace Carlton.Base.TestBedFramework

@inherits CarltonComponentBase<EventConsoleViewModel>

<div class="event-console">
    <Console IsReadOnly="true" Text="@ConsoleText" />
    <FloatingActionButton Icon="delete" PositionRight="3" PositionBottom="10" />
</div>


@code {
    private string ConsoleText { get; set; } = string.Empty;

    protected override void OnParametersSet()
    {
        foreach(var evt in ViewModel.ComponentEvents)
        {
            ConsoleText += Environment.NewLine;
            ConsoleText += $"{evt.GetType().Name}: {JsonConvert.SerializeObject(evt)}";
        }

        base.OnParametersSet();
    }
}

