@namespace Carlton.Base.TestBed
@attribute [DataEndpointRefreshPolicy(DataEndpointRefreshPolicy.Never)]
@attribute [ObserveStateEvents<TestBedStateEvents>(TestBedStateEvents.MenuItemSelected)]
@attribute [ObserveStateEvents<TestBedStateEvents>(TestBedStateEvents.ParametersUpdated)]
@inherits DataComponentBase<ParametersViewerViewModel>


<div class="parameters-viewer">
    <JsonViewerConsole Obj="ViewModel.ComponentParameters.ParameterObj"
                       IsReadOnly="false"
                       OnChangeCallback="obj => base.OnComponentEvent.InvokeAsync(new UpdateParametersCommand(obj))" />
</div>



