@namespace Carlton.Base.Components

<div class="collapser">
    <a href="#" @onclick="LayoutCollapsedState.ToggleCollapsedStatus">
        <span class="mdi mdi-24px mdi-menu" />
    </a>
</div>


@code {
    [CascadingParameter]
    public LayoutCollapsedState LayoutCollapsedState { get; set; }
}
