@namespace Carlton.Core.Layouts.Components
@inherits TabBarBase


<CascadingValue Value="this">
    @ChildContent
</CascadingValue>


<div class="mobile-tab-bar">
    <div class="content">
        <div class="mobile-tabs">
            @foreach(Tab tab in Tabs)
            {
                <div class="mobile-tab @(tab==this.ActiveTab ? "active" : "")">
                    <div class="mobile-tab-link" @onclick="(args)=>ActivateTab(tab)">
                        @if (ShowDisplayIcon)
                        {
                            <i class="mdi mdi-24px @tab.Icon"></i>
                        }
                       @if(ShowDisplayText)
                       {
                            <span>@tab.DisplayText</span>
                       }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code{
    [Parameter]
    public bool ShowDisplayIcon { get; set; }

    [Parameter]
    public bool ShowDisplayText { get; set; } 
}