
.debug-menu {
	margin-top: auto;
	margin-bottom: auto;
	color: var(--layout-header-icon-color);
}

/*Media Queries*/
@media (max-width: 768px) {
	.debug-menu {
		color: var(--layout-mobile-header-icon-color);
	}
}
