@using Carlton.Core.Components.Layouts
@namespace Carlton.Core.Lab.Layouts
@inherits LayoutComponentBase

<DashboardDevPanelLayout ShowPanel="true">
    <NavContent>
        <LabFluxComponent TViewModel="NavMenuViewModel" />
    </NavContent>
    <PageTitleContent>
        <LabFluxComponent TViewModel="BreadCrumbsViewModel" />
    </PageTitleContent>
    <HeaderActionContent>
        <LabHeaderActions />
    </HeaderActionContent>
    <Body>
        @Body
    </Body>
    <PanelContent>
        <LabTabs />
    </PanelContent>
</DashboardDevPanelLayout>






