@namespace Carlton.Core.Components.Flux.Debug
@using Microsoft.AspNetCore.Components.Routing;

<nav class="nav-menu">
    <div class="nav-item">
        <NavLink href="/debug/logs" Match="NavLinkMatch.All">
            <div class="nav-link-content">
                <span class="nav-item-icon mdi mdi-18px mdi-file-search"></span>
                <span class="nav-item-text">Logs</span>
            </div>
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink href="/debug/trace" Match="NavLinkMatch.All">
            <div class="nav-link-content">
                <span class="nav-item-icon mdi mdi-18px mdi-weather-lightning"></span>
                <span class="nav-item-text">Event Tracing</span>
            </div>
        </NavLink>
    </div>
</nav>


@code {
    private bool collapseNavMenu = true;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
