@namespace Carlton.Core.Components.Buttons

@* Represents an icon button that triggers an action when clicked. *@
<div class="icon-btn" @onclick="OnClick">
    <span class="mdi mdi-24px mdi-@(Icon)"></span>
</div>

@code {
    /// <summary>
    /// Gets or sets the icon displayed on the button.
    /// </summary>
    [Parameter]
    public string Icon { get; set; }
  
    /// <summary>
    /// Event callback invoked when the button is clicked.
    /// </summary>
    [Parameter]
    public EventCallback OnClick { get; set; }
}