@namespace Carlton.Core.Components.Buttons

<div class="icon-btn" @onclick="OnClick">
    <span class="mdi mdi-24px mdi-@(Icon)"></span>
</div>

@code {
    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }
}