@namespace Carlton.Core.Components.Buttons

<div class="link-btn" @onclick="OnClick"><span>@Text</span></div>

@code {
    [Parameter]
    public string Text { get; set; }


    [Parameter]
    public EventCallback OnClick { get; set; }
}
