/* DashboardPanelLayout Variables */
.dashboard-panel-layout {
	--dashboard-panel-layout-header-bar-height: 75px;
	--dashboard-panel-layout-header-bar-nav-margin-left: 10px;
	--dashboard-panel-layout-header-bar-action-margin-right: 10px;
	--dashboard-panel-layout-main-padding-top: 20px;
	--dashboard-panel-layout-main-mobile-panel-content-z-index: 99;
}

/* DashboardPanelLayout Base Styles */
.dashboard-panel-layout {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100%;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

/* Header Styles */
header {
	grid-area: header;
}

	header .header-bar {
		display: flex;
		height: var(--dashboard-panel-layout-header-bar-height);
		background-color: var(--layout-mobile-header-background-color);
	}

		header .header-bar .nav {
			flex-basis: 5%;
			margin-left: var(--dashboard-panel-layout-header-bar-nav-margin-left);
			margin-top: auto;
			margin-bottom: auto;
		}

		header .header-bar .logo {
			flex-basis: 5%;
			margin-top: auto;
			margin-bottom: auto;
			text-align: center;
		}

		header .header-bar .title {
			flex-basis: 85%;
			margin-top: auto;
			margin-bottom: auto;
			text-align: left;
		}


		header .header-bar .action {
			flex-basis: 5%;
			margin-top: auto;
			margin-bottom: auto;
			margin-left: auto;
			margin-right: var(--dashboard-panel-layout-header-bar-action-margin-right);
		}

/* Main Styles */
main {
	grid-area: main;
	height: 100vh;
	padding-top: var(--dashboard-panel-layout-main-padding-top);
	background-color: var(--layout-main-background-color);
}

	main .mobile-panel-content {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: var(--dashboard-panel-layout-main-mobile-panel-content-z-index);
	}


/*Overrides*/
.header-bar ::deep.bread-crumbs .page-title {
	color: var(--layout-mobile-header-primary-text-color);
}
