@namespace Carlton.Core.Components.Library


<MediaQueryWrapper>
    <DesktopContent>
        <div class="carlton-actions">
            <ThemeMenu />
            <Notifications />
            <ProfileAvatar Username="Stephen" AvatarImgUrl="_content/Carlton.Core.Components.Library/images/avatar.jpg" />
        </div>
    </DesktopContent>
    <MobileContent>
        <div class="carlton-actions">
            <ProfileAvatar Username="Stephen" AvatarImgUrl="_content/Carlton.Core.Components.Library/images/avatar.jpg"  />
        </div>
    </MobileContent>
</MediaQueryWrapper>


