.accordion-select-group {
    background: var(--accordion-select-group-background-color);
    padding-left: var(--accordion-select-group-padding-horizontal);
    padding-right: var(--accordion-select-group-padding-horizontal);
}
