@namespace Carlton.Base.Components
@typeparam TValue


<div class="accordion-select-group">
    @foreach(var (group, index) in ItemGroups.WithIndex())
    {
        <AccordionSelect TValue="TValue"
                     Title="@group.Key"
                     Items="@group.Value"
                     SelectedValue="GetSelectedValue(index)"
                     SelectedItemChanged="(value) => ChangeSelectedItem(index, value)" />
    }
</div>

@code {
    [Parameter]
    public Dictionary<string, Dictionary<string, TValue>> ItemGroups { get; set; }

    [Parameter]
    public TValue SelectedItem { get; set; }

    [Parameter]
    public EventCallback<TValue> OnSelectedItemChanged { get; set; }

    private int _selectedGroupIndex;

    private TValue GetSelectedValue(int groupIndex)
    {
        if(groupIndex != _selectedGroupIndex)
            return default(TValue);

        return SelectedItem;
    }

    private async Task ChangeSelectedItem(int groupIndex, TValue value)
    {
        _selectedGroupIndex = groupIndex;
        SelectedItem = value;
        await OnSelectedItemChanged.InvokeAsync();
    }
}