.accordion-select {
    background-color: var(--accordion-select-background-color);
    color: var(--accordion-select-color);
}

    .accordion-select .heading {
        display: flex;
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;
        color: var(--accordion-select-text-color);
    }

        .accordion-select .heading.selected {
            background-color: var(--accordion-select-selected-background-color);
            color: var(--accordion-select-text-color);
            padding: 5px;
            border-radius: 10px;
            margin-top: 10px;
        }

        .accordion-select .heading .item-name {
            text-align: left;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 10px;
        }

    .accordion-select .item-container {
        padding-left: 15px;
    }


        .accordion-select .item-container.collapsed {
            display: none;
        }

    .accordion-select .item {
        padding-top: 15px;
        cursor: pointer;
    }

        .accordion-select .item.selected {
            color: var(--accordion-select-selected-text-color);
            font-weight: bold;
        }
