@using System.Text.Json
@using Carlton.Core.Components.Consoles

<div class="log-exception-details">
    <JsonViewerConsole Obj="@LogEntry" IsReadOnly="true" />
</div>


@code {
    [Parameter]
    public LogEntry LogEntry { get; set; }
}