@using Carlton.Core.Components.Consoles
@using Carlton.Core.Utilities.Extensions
@using System.Text
@using System.Web

<div class="log-details">
    <Console Text="@ScopeText()" IsReadOnly="true" />
</div>


@code {
    [Parameter]
    public LogMessage LogMessage { get; set; }

    private string ScopeText()
    {
        if (LogMessage == null)
            return string.Empty;

        if (!LogMessage.Scopes.Any())
            return string.Empty;

        var sb = new StringBuilder();
        var nextIndentation = "\t";

        foreach (var (key, value) in LogMessage.Scopes.ToList())
        {
            sb.Append(nextIndentation)
              .Append(" => ")
              .Append($"{key} : {value}")
              .AppendLine();

            nextIndentation += "\t";
        }

        return sb.ToString();
    }
}
