@namespace Carlton.Core.Flux.Debug.Components.Logging.EventLogging


<div class="log-viewer">
    <div class="log-filters">
        <EventLogLevelFilter LogLevel="LogLevel.Trace" LogLevelIncluded="FilterIsActive(LogLevel.Trace)" Count="GetCountByLevel(LogLevel.Trace)" OnIncludeLogLevelChange="(isIncluded) => LogLevelIncludesChanged(LogLevel.Trace, isIncluded)" />
        <EventLogLevelFilter LogLevel="LogLevel.Debug" LogLevelIncluded="FilterIsActive(LogLevel.Debug)" Count="GetCountByLevel(LogLevel.Debug)" OnIncludeLogLevelChange="(isIncluded) => LogLevelIncludesChanged(LogLevel.Debug, isIncluded)" />
        <EventLogLevelFilter LogLevel="LogLevel.Information" LogLevelIncluded="FilterIsActive(LogLevel.Information)" Count="GetCountByLevel(LogLevel.Information)" OnIncludeLogLevelChange="(isIncluded) => LogLevelIncludesChanged(LogLevel.Information, isIncluded)" />
        <EventLogLevelFilter LogLevel="LogLevel.Warning" LogLevelIncluded="FilterIsActive(LogLevel.Warning)" Count="GetCountByLevel(LogLevel.Warning)" OnIncludeLogLevelChange="(isIncluded) => LogLevelIncludesChanged(LogLevel.Warning, isIncluded)" />
        <EventLogLevelFilter LogLevel="LogLevel.Error" LogLevelIncluded="FilterIsActive(LogLevel.Error)" Count="GetCountByLevel(LogLevel.Error)" OnIncludeLogLevelChange="(isIncluded) => LogLevelIncludesChanged(LogLevel.Error, isIncluded)" />
        <EventLogLevelFilter LogLevel="LogLevel.Critical" LogLevelIncluded="FilterIsActive(LogLevel.Critical)" Count="GetCountByLevel(LogLevel.Critical)" OnIncludeLogLevelChange="(isIncluded) => LogLevelIncludesChanged(LogLevel.Critical, isIncluded)" />
        <EventLogTextFilter OnTextChanged="OnFilterTextChanges" />
    </div>

    <EventLogTable LogMessages="FilteredLogMessages" LogMessageSelected="OnLogEntrySelected" />
</div>




@code {
    [Parameter]
    public IList<LogMessage> LogMessages { get; set; } = new List<LogMessage>();

    [Parameter]
    public EventCallback<SelectedEventLogMessageChangedArgs> SelectedLogMessageChanged { get; set; }

    public LogMessage? SelectedLogMessage { get; private set; }

    public void OnLogEntrySelected(LogMessage selectedLogMessage)
    {
        SelectedLogMessage = selectedLogMessage;
        SelectedLogMessageChanged.InvokeAsync(new SelectedEventLogMessageChangedArgs(selectedLogMessage));
    }

    private IList<LogLevel> includedLogLevels = new List<LogLevel>();
    private string filterText = string.Empty;

    private IEnumerable<LogMessage> FilteredLogMessages
    {
        get => LogMessages.Where(_ => includedLogLevels.Contains(_.LogLevel))
                         .Where(_ => _.Message.ToLower().Contains(filterText))
                         .OrderByDescending(_ => _.Timestamp);
    }

    protected async override Task OnInitializedAsync()
    {
        includedLogLevels = new List<LogLevel> { LogLevel.Trace, LogLevel.Debug, LogLevel.Information, LogLevel.Warning, LogLevel.Error, LogLevel.Critical };
        await base.OnInitializedAsync();
    }

    private bool FilterIsActive(LogLevel logLevel)
        => includedLogLevels.Contains(logLevel);

    private int GetCountByLevel(LogLevel logLevel)
        => LogMessages.Count(_ => _.LogLevel == logLevel);

    private void OnFilterTextChanges(string newFilterText)
        => filterText = newFilterText.ToLower();

    private void LogLevelIncludesChanged(LogLevel logLevel, bool isIncluded)
    {
        if (isIncluded)
            includedLogLevels.Add(logLevel);
        else
            includedLogLevels.Remove(logLevel);
    }
}

