.log-filters {
	display: flex;
	flex-direction: row;
	gap: 10px;
	flex-wrap: wrap;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

::deep .log-text-filter {
	width: 25%;
	min-width: 100px;
	max-width: 250px;
}

::deep .log-table{
	margin: 20px;
}