@namespace Carlton.Core.Components.Library
@inherits BaseNotification

<div class="info-notification">
    <BaseNotification IconClass="mdi-alert-circle-outline" Title="@Title" Message="@Message" OnDismiss="@OnDismiss" FadeOutEnabled="@FadeOutEnabled" />
</div>

