@namespace Carlton.Core.Components.Library

<div class="notifications" @onclick="@OnClick">
    <i class="mdi mdi-24px mdi-bell-outline"></i>
    <div class="notify">
        <span class="point">5</span>
    </div>
</div>

@code {
    [Parameter]
    public int NotificationCount { get; set; }

    [CascadingParameter]
    private Action<string, string, NotificationType> GenerateNotificationAct { get; set; }

    public void OnClick()
    {
        GenerateNotificationAct("", "", NotificationType.Success);
    }
}