@namespace Carlton.Core.Components.Library
@inherits BaseNotification

<div class="success-notification">
    <BaseNotification IconClass="mdi-check-circle" Title="@Title" Message="@Message" OnDismiss="@OnDismiss" FadeOutEnabled="@FadeOutEnabled"  />
</div>

