@namespace Carlton.Base.Components

<div class="carlton-actions">
    <span class="icon mdi mdi-24px mdi-settings-outline"></span>
    <span class="icon mdi mdi-24px mdi-bell-outline"></span>
     <ThemeMenu />
    <Spacer SpacerDirection="SpacerDirection.vertical" />
    <ProfileAvatar Username="Stephen" AvatarImgUrl="_content/Carlton.Base.Components/images/avatar.jpg" />
</div>