@namespace Carlton.Base.Components

<div class="header-bar @(IsCollapsed ? "collapsed" : string.Empty)" data-theme="light">
    <div class="title">
        @LogoContent
    </div>
    <div class="menu">
        @MenuContent
    </div>
    <div class="action">
        @ActionContent
    </div>
</div>


@code {
    [CascadingParameter]
    public bool IsCollapsed { get; set; }
    [Parameter]
    public RenderFragment LogoContent { get; set; }
    [Parameter]
    public RenderFragment MenuContent { get; set; }
    [Parameter]
    public RenderFragment ActionContent { get; set; }
}