@namespace Carlton.Base.Components

<div class="test-bed-header-actions">
    <div class="profile">
        <ProfileAvatar AvatarImgUrl="https://www.w3schools.com/w3images/avatar2.png" Username="Stephen" />
    </div>
    <div class="menu">
        <span class="icon mdi mdi-24px mdi-dots-verticle"></span>
@*        <ThemeMenu />*@
    </div>
</div>

