.test-bed-header-actions {
    display: flex;
    gap: 10px;
}

    .test-bed-header-actions .menu {
        margin-top: auto;
        margin-bottom: auto;
    }

    .test-bed-header-actions .profile {
        margin-top: auto;
        margin-bottom: auto;
    }
