.header-bar {
    display: flex;
    background-color: #263238;
}

    .header-bar.collapsed .title {
        flex-basis: 5%;
    }

    .header-bar .menu {
        flex-basis: 5%;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    .header-bar .action {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
    }

