@namespace Carlton.Base.Components


<DropdownMenu MenuItems="DropdownMenuItems">
    <HeaderTemplate>
        <div class="header">
            <span class="user">Stephen Galazzo</span>
            <span class="email">Admin User</span>
            <Spacer SpacerDirection="SpacerDirection.horizontal" />
        </div>
    </HeaderTemplate>
    <MenuTemplate Context="isActive">
        <div class="profile-avatar">
            <img class="avatar-img text-center" src="@AvatarImgUrl" />
            <span class="username">@Username</span>
            <span class="icon mdi mdi-24px mdi-chevron-down"></span>
        </div>
    </MenuTemplate>
    <MenuItemTemplate Context="item">
        <DropdownMenuElement MenuItem="item" />
    </MenuItemTemplate>
</DropdownMenu>

@code {
    [Parameter]
    public string AvatarImgUrl { get; set; }
    [Parameter]
    public string Username { get; set; }
    [Parameter]
    public DropdownMenuItems DropdownMenuItems { get; set; }

    protected override void OnInitialized()
    {
        DropdownMenuItems = new DropdownMenuItems
        (
            new List<DropdownMenuItem>
                    {
                        new DropdownMenuItem("Profile", "account", 1, () => { return Task.CompletedTask; }),
                        new DropdownMenuItem("Theme", "theme-light-dark", 2, () => { return Task.CompletedTask; }),
                        new DropdownMenuItem("Logout", "logout", 3, () => { return Task.CompletedTask; })
                    }
        );
        base.OnInitialized();
    }
}