.header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    color: white;
}

    .header .spacer{
        width: 100%;
    }

    .header .user {
        margin-left: 10px;
        font-size: 15pt;
    }

    .header .email {
        margin-left: 10px;
        color: #7c848a;
    }

.profile-avatar{
    display: flex;
    gap: 5px;
}

.avatar-img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.username {
    color: white;
    font-size: 12pt;
    margin-top: auto;
    margin-bottom: auto;
}

.icon{
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

@media (max-width: 768px) {
    .username span {
        display: none;
    }
}
