
.profile-avatar{
    display: flex;
    gap: 5px;
}

.avatar-img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.username {
    color: white;
    font-size: 12pt;
    margin-top: auto;
    margin-bottom: auto;
}

.icon{
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

@media (max-width: 768px) {
    .username span {
        display: none;
    }
}
