@namespace Carlton.Core.Components

@* Represents a custom checkbox component. *@
<div class="@CheckboxCss" @onclick="() => HandleValueChange(IsChecked ? false : true )"></div>

@code {
    /// <summary>
    /// Gets or sets the value indicating whether the checkbox is checked.
    /// </summary>
    [Parameter]
    public bool IsChecked { get; set; }
    
    /// <summary>
    /// Event callback invoked when the checkbox value changes.
    /// </summary>
    [Parameter]
    public EventCallback<bool> OnValueChange { get; set; }

    private string CheckboxCss
    {
        get => new CssBuilder("checkbox")
                .AddClass("mdi mdi-24px")
                .AddClass("mdi-check-circle", IsChecked)
                .AddClass("mdi-checkbox-blank-circle-outline", !IsChecked)
                .Build();
    }

    private void HandleValueChange(bool value)
    {
        IsChecked = value;
        OnValueChange.InvokeAsync(value);
    }
}
