@namespace Carlton.Core.Components

<div class="@CheckboxCss" @onclick="() => HandleValueChange(IsChecked ? false : true )"></div>

@code {
    [Parameter]
    public EventCallback<bool> OnValueChange { get; set; }

    [Parameter]
    public bool IsChecked { get; set; }

    private string CheckboxCss
    {
        get => new CssBuilder("checkbox")
                .AddClass("mdi mdi-24px")
                .AddClass("mdi-check-circle", IsChecked)
                .AddClass("mdi-checkbox-blank-circle-outline", !IsChecked)
                .Build();
    }

    private void HandleValueChange(bool value)
    {
        IsChecked = value;
        OnValueChange.InvokeAsync(value);
    }
}
