@namespace Carlton.Core.Components

<div class="@CheckboxCss" @onclick="() => UserCheckChange(IsChecked ? false : true )"></div>

@code {
    [Parameter]
    public EventCallback<bool> CheckboxValueChangedCallback { get; set; }

    [Parameter]
    public bool IsChecked { get; set; }

    private string CheckboxCss
    {
        get => new CssBuilder("checkbox")
                .AddClass("mdi mdi-24px")
                .AddClass("mdi-check-circle", IsChecked)
                .AddClass("mdi-checkbox-blank-circle-outline", !IsChecked)
                .Build();
    }

    private void UserCheckChange(bool value)
    {
        IsChecked = value;
        CheckboxValueChangedCallback.InvokeAsync(value);
    }
}
