.log-viewer {
	--log-viewer-filters-gap: 10px;
	--log-viewer-filters-text-width: 15%;
	--log-viewer-margin: 20px;
}

/* Styles for the log filters container */
.log-filters {
	display: flex;
	flex-direction: row;
	gap: var(--log-viewer-filters-gap);
	flex-wrap: wrap;
	margin: var(--log-viewer-margin);
}

/* Styles for the text filter component */
::deep .log-text-filter {
	width: var(--log-viewer-filters-text-width);
}

/* Styles for the log table component */
::deep .log-table {
	margin: var(--log-viewer-margin);
}
