@namespace Carlton.Core.Components.Layouts

@if (ShowPanel)
{
    <MediaQueryWrapper>
        <DesktopContent>
            <ResizablePanel>
                <TopContent>
                    @BodyContent
                </TopContent>
                <BottomContent>
                    <DashboardPanelContent />
                </BottomContent>
            </ResizablePanel>
        </DesktopContent>
        <MobileContent>
            <div class="mobile-body-content">
                @BodyContent
            </div>
            <div class="mobile-panel-content">
                <DashboardPanelContent />
            </div>
        </MobileContent>
    </MediaQueryWrapper>
}
else
{
    @BodyContent
}

@code {
    [Parameter]
    public bool ShowPanel { get; set; }
    [Parameter]
    public RenderFragment BodyContent { get; set; }
}
