

.layout-container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 15% 1fr 1fr;
	grid-template-areas:
		"navsidebar header header"
		"navsidebar main main"
		"navsidebar footer footer";
}

	.layout-container header {
		grid-area: header;
	}

	.layout-container nav {
		grid-area: navsidebar;
		background-color: var(--layout-nav-background-color);
		height: 100vh;
	}

	.layout-container main {
		grid-area: main;
		height: 100vh;
		padding-top: 20px;
		background-color: var(--layout-main-background-color);
	}

	.layout-container footer {
		grid-area: footer;
		position: absolute;
		bottom: 0;
		width: 85%;
		margin-left: 15%;
		z-index: 10;
		background: var(--layout-footer-background-color);
		color: var(--layout-footer-color);
	}

@media (max-width: 767.98px) {
	.layout-container, .layout-container.collapsed {
		display: grid;
		grid-template-rows: auto 1fr auto;
		grid-template-columns: 100%;
		grid-template-areas:
			"header"
			"main"
			"footer";
	}
}

@media (min-width: 767.98px) {
	.layout-container.collapsed {
		grid-template-columns: 5% 1fr 1fr;
	}

		.layout-container.collapsed footer.fixed {
			width: 95%;
			margin-left: 5%;
		}
}
