@namespace Carlton.Core.Components.Layouts
@inherits LayoutComponentBase
@layout LayoutManager

<div class="@LayoutContainerCss">
    <header>
       <DashboardPanelHeader />
    </header>
    <nav>
        <DashboardPanelNav AppName="@AppName" IsFullScreen="CascadingState.IsFullScreen" />
    </nav>
    <main>
       <DashboardPanelBody ShowPanel="ShowPanel" BodyContent="@Body" />
    </main>
    <footer>
        <Footer />
    </footer>
</div>


@code {
    [CascadingParameter]
    public LayoutManagerCascadingState CascadingState { get; set; }

    public string AppName { get => CascadingState.LayoutSettings.GetValue<string>("AppName"); }

    public bool ShowPanel { get => CascadingState.LayoutSettings.GetValue<bool>("ShowPanel"); }

    private string LayoutContainerCss
    {
        get => new CssBuilder("layout-container")
                .AddClass("collapsed", CascadingState.IsFullScreen)
                .Build();
    }

    public static object HeaderNav = new();
    public static object HeaderPageTitle = new();
    public static object HeaderActionContent = new();
    public static object Panel = new();
}



