@namespace Carlton.Core.Components.Layouts

<div class="mobile-body-content">
    @Body
</div>
<div class="mobile-panel-content">
    <SectionOutlet SectionId="DashboardPanelLayout.Panel" />
</div>

@code {
    [Parameter]
    public RenderFragment Body { get; set; }
}