.row-item {
    color: var(--primary-text-color);
}

.outcome-row {
    flex-basis: 5%;
    justify-content: left;
    margin-left: 10px;
}

    .outcome-row .outcome-item {
        display: flex;
        gap: 10px;
    }

.name-row {
    flex-basis: 50%;
    justify-content: left;
    font-size: 10pt;
    line-height: 10pt;
}

.duration-row {
    flex-basis: 5%;
    justify-content: left;
}

.test-passed-icon {
    color: var(--accent-color-2);
}

.test-failed-icon {
    color: var(--accent-color-3);
}
