@namespace Carlton.Core.Components.Tabs

<div class="text-tab">
    <span class="tab-title">@Tab.DisplayText</span>
    @if (Tab.IsActive)
    {
        <Spacer 
            WidthPercentage="100"
            HeightPixels="3" />
    }
</div>


@code {
    [Parameter]
    public Tab Tab { get; set; }
}
