@using Carlton.Core.Components.Layouts.Theme
@using Carlton.Core.Components.Modals
@using Carlton.Core.Components.Toasts
@using Carlton.Core.Components.Layouts.Toasts
@using Carlton.Core.Components.Layouts.FullScreen
@using Carlton.Core.Components.Layouts.Modals
@namespace Carlton.Core.Components.Layouts.Manager
@inherits LayoutComponentBase
@implements IDisposable
@inject IFullScreenState NavMenuState
@inject IThemeState ThemeState
@inject IModalState ModalState
@inject IToastState ToastState
@inject ILayoutSettings LayoutSettings


@* This component manages the layout of the application including modals and toasts. *@
<div class="layout-manager" data-theme="@ThemeState.Theme.ToString()">
    <CascadingValue Value="LayoutState">
        @Body
    </CascadingValue>

    <LayoutToaster @ref="LayoutToaster"
                   FadeOutEnabled="true"
                   Top="50"
                   Right="10" />

    <Modal IsVisible="ModalState.IsVisible"
           ModalType="ModalState.ModalType"
           ModalPrompt="@ModalState?.ModalModel?.Prompt"
           ModalMessage="@ModalState?.ModalModel?.Message"
           CloseModal="CloseModalOrDefault"
           DismissModal="DismissModalOrDefault" />
</div>


@code {
    private LayoutToaster LayoutToaster { get; set; }

    private LayoutManagerCascadingState LayoutState
    {
        get => new LayoutManagerCascadingState
            {
                IsFullScreen = NavMenuState.IsFullScreen,
                LayoutSettings = LayoutSettings.Settings
            };
    }

    protected override void OnInitialized()
    {
        NavMenuState.FullScreenStateChanged += OnLayoutChanged;
        ThemeState.ThemeChanged += OnThemeChanged;
        ModalState.ModalStateChanged += OnModalStateChanged;
        ToastState.ToastAdded += OnToastRaised;
        base.OnInitialized();
    }

    private void OnLayoutChanged(object? sender, FullScreenStateChangedEventArgs args)
        => StateHasChanged();

    private void OnThemeChanged(object? sender, ThemeChangedEventArgs args)
        => StateHasChanged();

    private void OnModalStateChanged(object? sender, ModalStateChangedEventArgs args)
        => StateHasChanged();

    private void OnToastRaised(object? sender, ToastRaisedEventArgs args)
        => LayoutToaster.GenerateToast(args.RaisedToast);

    private Func<ModalCloseEventArgs, Task> CloseModalOrDefault
    {
        get
        {
            if (ModalState == null || ModalState.ModalModel == null || ModalState.ModalModel.CloseModal == null)
                return (args) => Task.CompletedTask;

            return ModalState.ModalModel.CloseModal;
        }
    }

    private Func<Task> DismissModalOrDefault
    {
        get
        {
            if (ModalState == null || ModalState.ModalModel == null || ModalState.ModalModel.DismissModal == null)
                return () => Task.CompletedTask;

            return ModalState.ModalModel.DismissModal;
        }
    }

    public void Dispose()
    {
        NavMenuState.FullScreenStateChanged -= OnLayoutChanged;
        ThemeState.ThemeChanged -= OnThemeChanged;
        ModalState.ModalStateChanged -= OnModalStateChanged;
        ToastState.ToastAdded -= OnToastRaised;
    }
}