@namespace Carlton.Core.Flux.Debug.Components.Logging.EventLogging

<div class="log-level-filter @LogLevel.ToString().ToLower()" @onclick="() => OnLogLevelCheckedChanged(!LogLevelIncluded)">
    <Checkbox IsChecked="LogLevelIncluded" />
    <span class="log-level-label">@LogLevelLabel:</span>
    <span class="log-level-count">@Count</span>
</div>


@code {
    [Parameter]
    public LogLevel LogLevel { get; set; }
    [Parameter]
    public bool LogLevelIncluded { get; set; }
    [Parameter]
    public int Count { get; set; }
    [Parameter]
    public EventCallback<bool> OnIncludeLogLevelChange { get; set; }

    private async Task OnLogLevelCheckedChanged(bool isChecked)
    {
        LogLevelIncluded = isChecked;
        await OnIncludeLogLevelChange.InvokeAsync(isChecked);
    }

    private string LogLevelLabel
    {
        get
        {
            switch (LogLevel)
            {
                case LogLevel.Trace:
                    return "Trace";
                case LogLevel.Debug:
                    return "Debug";
                case LogLevel.Information:
                    return "Info";
                case LogLevel.Warning:
                    return "Warn";
                case LogLevel.Error:
                    return "Error";
                case LogLevel.Critical:
                    return "Critical";
                default:
                    throw new ArgumentException("Invalid LogLevel specificed");
            }
        }
    }
}
