@namespace Carlton.Core.Components

<div class="@ModalClass">
    <div class="modal-content">
        <span class="close" @onclick="() => Dismiss(false)">&times;</span>
        <div class="modal-header">
            <div class="mdi mdi-48px mdi-alert-circle-outline"></div>
        </div>
        <div class="modal-prompt-message">
            <span class="message-text">@ModalPrompt</span>
        </div>
        <div class="modal-message">
            <span class="message-text">@ModalMessage</span>
        </div>
        <div class="modal-actions">
            <button class="btn-cancel" @onclick="() => Dismiss(false)">Cancel</button>
            <button class="btn-confirm" @onclick="() => Dismiss(true)">Delete</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool ModalVisible { get; set; }
    [Parameter]
    public string ModalPrompt { get; set; }
    [Parameter]
    public string ModalMessage { get; set; }
    [Parameter]
    public EventCallback<bool> OnModalDissmissed { get; set; }


    private async Task Dismiss(bool userConfirmed)
    {
        ModalVisible = false;
        await OnModalDissmissed.InvokeAsync(userConfirmed);
    }

    private string ModalClass
    {
        get => new CssBuilder("modal")
                .AddClass("visible", ModalVisible)
                .Build();
    }
}
