
.notification-bar{
    position: relative;
}

    .notification-bar .content {
        position: absolute;
        z-index: 3;
    }

button {
    height: 25px;
    border-style: none;
    border-radius: 5pt;
    color: white;
}

    button.success-btn {
        background-color: #00897b;
    }

    button.info-btn {
        background-color: #1e88e5;
    }

    button.warning-btn {
        background-color: #f0a810;
    }

    button.error-btn {
        background-color: #e46a76;
    }