@namespace Carlton.Base.Components
@using System.Threading.Tasks

<div class="carlton-notification-bar">
    @switch(NotificationType)
    {
        case CarltonNotificationType.SUCCESS:
            <SuccessNotification></SuccessNotification>
            break;
        case CarltonNotificationType.ALERT:
            <AlertNotification></AlertNotification>
            break;
        case CarltonNotificationType.INFO:
            <InfoNotification></InfoNotification>
            break;
        case CarltonNotificationType.FAILURE:
            <FailureNotification></FailureNotification>
            break;
        default:
            break;
    }
</div>


@code{
    [Parameter]
    public CarltonNotificationType NotificationType { get; set; }


    protected async override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        await Task.Delay(5000);
        NotificationType = CarltonNotificationType.DEFAULT;
    }
}

