@namespace Carlton.Base.Components

<div class="warning-notification">
    <BaseNotification IconClass="mdi-alert" Title="@Title" Message="@Message"/>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Message { get; set; }
}