@namespace Carlton.Base.TestBedFramework
@inherits CarltonComponentBase<ComponentViewerViewModel>

<div class="component-viewer">
    @if(ViewModel.IsCarltonComponent)
    {

    }
    else
    {
        <DynamicComponent Type="ViewModel.ComponentType" Parameters="(IDictionary<string, object>)ViewModel.ComponentViewModel" />
    }
</div>

@code {
    protected override void OnParametersSet()
    {
        var componentType = ViewModel.ComponentType;

        if(!(typeof(ComponentBase).IsAssignableFrom(componentType)))
            throw new InvalidOperationException($"{componentType} is not a valid component type.");

        base.OnParametersSet();
    }
}



