@namespace Carlton.Base.Components
@inherits Header

<div class="collapsed-header-bar">
    <div class="title">
        @LogoContent
    </div>
    <div class="menu">
        @MenuContent
    </div>
    <div class="action">
        @ActionContent
    </div>
</div>

