
.modal-header {
	margin-left: auto;
	margin-right: auto;
	color: #e46a76;
}


.modal-prompt-message {
	margin-left: auto;
	margin-right: auto;
	color: var(--primary-text-color);
	font-size: 20pt;
}

.modal-message {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

	.modal-message .message-text {
		color: var(--secondary-text-color);
		font-size: 10pt;
	}

.modal-actions {
	display: flex;
	gap: 10px;
	margin-left: auto;
	margin-right: auto;
}

	.modal-actions button {
		height: 30px;
		width: 75px;
		margin-left: auto;
		margin-right: auto;
		color: white;
		border-radius: 5px;
		border-color: transparent;
		cursor: pointer;
	}

	.modal-actions .btn-cancel{
		background-color: gray;
	}

	.modal-actions .btn-confirm {
		background-color: #e46a76;
	}