.dismiss {
	position: absolute;
	top: 0px;
	right: 10px;
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

	.dismiss:hover,
	.dismiss:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}
