@namespace Carlton.Core.Components.Modals

<div class="@ModalClass">
    <div class="modal-content">
        @ModalContent(RenderFragmentState)
    </div>
</div>

@code {
    [Parameter]
    public bool IsVisible { get; set; }
    [Parameter]
    public string ModalPrompt { get; set; }
    [Parameter]
    public string ModalMessage { get; set; }
    [Parameter]
    public RenderFragment<ModalRenderFragmentState> ModalContent { get; set; }
    [Parameter]
    public EventCallback<ModalClosedArgs> ModalClosed { get; set; }
    [Parameter]
    public EventCallback ModalDismissed { get; set; }

    private ModalRenderFragmentState RenderFragmentState => new ModalRenderFragmentState
        {
            ModalPrompt = ModalPrompt,
            ModalMessage = ModalMessage,
            CloseModalCallback = OnClose,
            DissmissCallback = OnDismiss
        };

    private async Task OnClose(ModalClosedArgs args)
    {
        IsVisible = false;
        await ModalClosed.InvokeAsync(args);
    }

    private async Task OnDismiss()
    {
        IsVisible = false;
        await ModalDismissed.InvokeAsync();
    }

    private string ModalClass
    {
        get => new CssBuilder("modal")
                .AddClass("visible", IsVisible)
                .Build();
    }
}


