.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	z-index: 1;
}

	.modal.visible {
		display: flex;
	}

.modal-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: relative;
	min-width: 10%;
	background-color: #fefefe;
	padding: 20px;
	border: none;
	border-radius: 5px;
}

.close {
	position: absolute;
	top: 0px;
	right: 10px;
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

	.close:hover,
	.close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}

