@namespace Carlton.Core.Components.Modals

@* Represents a modal component for displaying modal content. *@
<div class="@ModalClass">
    <div class="modal-content">
        @ModalContent(new ModalRenderFragmentState
        {
            ModalPrompt = ModalPrompt,
            ModalMessage = ModalMessage,
            HandleClose = HandleClose,
            HandleDismiss = HandleDismiss
        })
    </div>
</div>

@code {
    /// <summary>
    /// Gets or sets a value indicating whether the modal is currently visible.
    /// </summary>
    [Parameter]
    public bool IsVisible { get; set; }

    /// <summary>
    /// Gets or sets the prompt message displayed in the modal header.
    /// </summary>
    [Parameter]
    public string ModalPrompt { get; set; }

    /// <summary>
    /// Gets or sets the main message displayed in the modal content.
    /// </summary>
    [Parameter]
    public string ModalMessage { get; set; }

    /// <summary>
    /// Gets or sets the render fragment representing the content of the modal.
    /// </summary>
    [Parameter]
    public RenderFragment<ModalRenderFragmentState> ModalContent { get; set; }

    /// <summary>
    /// Event callback invoked when the modal is closed.
    /// </summary>
    [Parameter]
    public EventCallback<ModalCloseEventArgs> OnClose { get; set; }

    /// <summary>
    /// Event callback invoked when the modal is dismissed.
    /// </summary>
    [Parameter]
    public EventCallback OnDismiss { get; set; }

    private async Task HandleClose(ModalCloseEventArgs args)
    {
        IsVisible = false;
        await OnClose.InvokeAsync(args);
    }

    private async Task HandleDismiss()
    {
        IsVisible = false;
        await OnDismiss.InvokeAsync();
    }

    private string ModalClass
    {
        get => new CssBuilder("modal")
                .AddClass("visible", IsVisible)
                .Build();
    }
}


