@namespace Carlton.Core.Components.Modals
@inherits Modal


<Modal 
       ViewModel="ViewModel"
       ModalDismissed="ModalDismissed"
       ModalClosed="ModalClosed">
    <ModalContent>
        <div class="modal-prompt-message">
            <span class="message-text">@this.ViewModel.ModalPrompt</span>
        </div>
        <div class="modal-message">
            <span class="message-text">@this.ViewModel.ModalMessage</span>
        </div>
        <div class="modal-actions">
            <button class="btn-cancel" @onclick="Dismiss">Ok</button>
        </div>
    </ModalContent>
</Modal>

