@namespace Carlton.Core.Components.Modals

@*
   Represents a modal dialog box for displaying prompts and messages,
   along with handling user actions like dismissal and confirmation.
*@

<ModalDismissMark OnDismiss="State.HandleDismiss" />

<div class="modal-prompt-message">
    <span class="message-text">@State.ModalPrompt</span>
</div>
<div class="modal-message">
    <span class="message-text">@State.ModalMessage</span>
</div>
<div class="modal-actions">
    <button class="btn-ok" @onclick="() => State.HandleClose(new ModalCloseEventArgs(true))">Ok</button>
</div>


@code {
    /// <summary>
    /// Gets or sets the state data required to render the modal, including prompt message, main message, and event handlers for dismissal and confirmation actions.
    /// </summary>
    [Parameter]
    public ModalRenderFragmentState State { get; set; }
}
