.card[b-qmfb8ilfk8] {
  width: 250px; }
  .card .row[b-qmfb8ilfk8] {
    margin: 0px; }
  .card .count-message[b-qmfb8ilfk8] {
    padding: 0px;
    text-align: center;
    font-size: 12pt;
    margin-top: auto;
    margin-bottom: auto; }
    .theme-light .card .count-message[b-qmfb8ilfk8] {
      color: #757575; }
    .theme-dark .card .count-message[b-qmfb8ilfk8] {
      color: #c2c2c2; }
  .theme-light .card.accent-color-1[b-qmfb8ilfk8] {
    background-color: #fff; }
  .theme-dark .card.accent-color-1[b-qmfb8ilfk8] {
    background-color: #1e88e5; }
  .theme-light .card.accent-color-1 span[b-qmfb8ilfk8] {
    color: #000; }
  .theme-dark .card.accent-color-1 span[b-qmfb8ilfk8] {
    color: #f2f2f3; }
  .card.accent-color-1 .count-icon[b-qmfb8ilfk8] {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    padding-left: 8px;
    padding-right: 6px;
    padding-top: 6px; }
    .theme-light .card.accent-color-1 .count-icon[b-qmfb8ilfk8] {
      background-color: #1e88e5;
      color: #fff; }
    .theme-dark .card.accent-color-1 .count-icon[b-qmfb8ilfk8] {
      background-color: #fff;
      color: #1e88e5; }
    .card.accent-color-1 .count-icon[b-qmfb8ilfk8]::before {
      line-height: initial; }
  .theme-light .card.accent-color-2[b-qmfb8ilfk8] {
    background-color: #fff; }
  .theme-dark .card.accent-color-2[b-qmfb8ilfk8] {
    background-color: #00897b; }
  .theme-light .card.accent-color-2 span[b-qmfb8ilfk8] {
    color: #000; }
  .theme-dark .card.accent-color-2 span[b-qmfb8ilfk8] {
    color: #f2f2f3; }
  .card.accent-color-2 .count-icon[b-qmfb8ilfk8] {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    padding-left: 8px;
    padding-right: 6px;
    padding-top: 6px; }
    .theme-light .card.accent-color-2 .count-icon[b-qmfb8ilfk8] {
      background-color: #00897b;
      color: #fff; }
    .theme-dark .card.accent-color-2 .count-icon[b-qmfb8ilfk8] {
      background-color: #fff;
      color: #00897b; }
    .card.accent-color-2 .count-icon[b-qmfb8ilfk8]::before {
      line-height: initial; }
  .theme-light .card.accent-color-3[b-qmfb8ilfk8] {
    background-color: #fff; }
  .theme-dark .card.accent-color-3[b-qmfb8ilfk8] {
    background-color: #e46a76; }
  .theme-light .card.accent-color-3 span[b-qmfb8ilfk8] {
    color: #000; }
  .theme-dark .card.accent-color-3 span[b-qmfb8ilfk8] {
    color: #f2f2f3; }
  .card.accent-color-3 .count-icon[b-qmfb8ilfk8] {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    padding-left: 8px;
    padding-right: 6px;
    padding-top: 6px; }
    .theme-light .card.accent-color-3 .count-icon[b-qmfb8ilfk8] {
      background-color: #e46a76;
      color: #fff; }
    .theme-dark .card.accent-color-3 .count-icon[b-qmfb8ilfk8] {
      background-color: #fff;
      color: #e46a76; }
    .card.accent-color-3 .count-icon[b-qmfb8ilfk8]::before {
      line-height: initial; }
  .theme-light .card.accent-color-4[b-qmfb8ilfk8] {
    background-color: #fff; }
  .theme-dark .card.accent-color-4[b-qmfb8ilfk8] {
    background-color: #ab8ce4; }
  .theme-light .card.accent-color-4 span[b-qmfb8ilfk8] {
    color: #000; }
  .theme-dark .card.accent-color-4 span[b-qmfb8ilfk8] {
    color: #f2f2f3; }
  .card.accent-color-4 .count-icon[b-qmfb8ilfk8] {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    padding-left: 8px;
    padding-right: 6px;
    padding-top: 6px; }
    .theme-light .card.accent-color-4 .count-icon[b-qmfb8ilfk8] {
      background-color: #ab8ce4;
      color: #fff; }
    .theme-dark .card.accent-color-4 .count-icon[b-qmfb8ilfk8] {
      background-color: #fff;
      color: #ab8ce4; }
    .card.accent-color-4 .count-icon[b-qmfb8ilfk8]::before {
      line-height: initial; }
