.menu {
    cursor: pointer;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

.dropdown {
    position: absolute;
    width: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
    z-index: 1;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

    .dropdown.active {
        background-color: #263238;
        opacity: 1;
        visibility: visible;
    }

    .dropdown li {
        display: flex;
        color: white;
        width: 100%;
    }

        .dropdown li ::deep span{
            flex-basis: 50%;
            margin-top: auto;
            margin-bottom: auto;
            text-align: right;
        }

        .dropdown li ::deep a {
            width: 100%;
            padding-right: 18px;
            padding-bottom: 1em;
            padding-left: 9px;
            display: inline-block;
            white-space: pre;
            box-sizing: border-box;
            color: white;
            text-decoration: none;
        }

            .dropdown li:hover ::deep {
                background: darkslategray;
                color: seagreen;
                border-radius: 5px;
            }
