@namespace Carlton.Base.Components

<span class="mdi mdi-@(MenuItem.MenuIcon)"></span>
<a href="#" @onclick:preventDefault="true" @onclick="MenuItem.MenuItemEvent">@MenuItem.MenuItemName</a>

@code {
    [Parameter]
    public MenuItem MenuItem { get; set; }
}