@namespace Carlton.Core.Components.Library

<div class="error-prompt">
    <div class="error-heading">
        <div class="content">
            <div class="@IconCss"></div>
            <span class="title">@ErrorHeader</span>
        </div>
    </div>
    <div class="error-body">
        <div class="content">
            <span class="message">@ErrorMessage</span>
            <button class="retry-btn" @onclick="OnClick">Retry</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Exception Exception { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public Func<Exception, (string errorHeader, string errorMessage, string iconClass)> ExceptionDisplayFunc { get; set; }

    [Parameter]
    public Action<Exception> ExceptionLogAct { get; set; }

    private string ErrorHeader { get; set; }

    private string ErrorMessage { get; set; }

    private string IconClass { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        (ErrorHeader, ErrorMessage, IconClass) = ExceptionDisplayFunc(Exception);
        ExceptionLogAct(Exception);
    }

    private string IconCss
    {
        get => new CssBuilder("icon")
                .AddClass($"mdi mdi-48px {IconClass}")
                .Build();
    }
}
