@namespace Carlton.Core.Components.Library

<div class="error-prompt">
    <div class="error-heading">
        <div class="content">
            <div class="@IconCss"></div>
            <span class="title">@ErrorHeader</span>
        </div>
    </div>
    <div class="error-body">
        <div class="content">
            <span class="message">@ErrorMessage</span>
            <button class="retry-btn" onclick="@OnClick">Retry</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string ErrorHeader { get; set; }

    [Parameter]
    public string ErrorMessage { get; set; }

    [Parameter]
    public string IconClass { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    private string IconCss
    {
        get => new CssBuilder("icon")
                .AddClass($"mdi mdi-48px {IconClass}")
                .Build();
    }
}
