@namespace Carlton.Base.Components

<div class="profile-avatar">
    <img class="avatar-img text-center" src="@AvatarImgUrl" />
    <span class="username">@Username</span>
</div>


@code{
    [Parameter]
    public string AvatarImgUrl { get; set; }
    [Parameter]
    public string Username { get; set; } 
}