@namespace Carlton.Base.Components

<div class="content">
    <div class="external-urls">
        <a href="#">Dashboard</a>
        <a href="#">Documentation</a>
        <a href="#">About Us</a>
    </div>
    <div class="contacts">
        <div class="msg">Coded and Designed by Galazzo Brothers.</div>
        <i class="mdi mdi-24px mdi-github-circle" />
        <i class="mdi mdi-24px mdi-twitter" />
        <i class="mdi mdi-24px mdi-facebook" />
    </div>
</div>