@using System.Text.Json
@using Carlton.Core.Components.Consoles

@* Displays the details of the selected trace log request object using a JsonViewerConsole *@
<div class="trace-log-request-object-details">
    <JsonViewerConsole Object="@RequestToSerialize" IsReadOnly="true" />
</div>


@code {
	/// <summary>
	///  Represents the selected trace log request object
	/// </summary>
	[Parameter]
    public object? SelectedRequestObject { get; set; }

	// Retrieves the request object to serialize, or null if no object is selected
    private object? RequestToSerialize => SelectedRequestObject ?? null;
}