.slide-tab {
	position: fixed;
	bottom: var(--slide-tab-bottom);
	width: 100%;
}

	.slide-tab .slide-button {
		cursor: pointer;
		display: block;
		width: 100px;
		margin: 0 auto;
		padding: 15px 0;
		background-color: var(--layout-footer-background-color);
		color: #fff;
		border: 0;
		text-align: center;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.slide-tab .slide-container {
		display: none;
		background-color: var(--layout-footer-background-color);
		color: #fff;
		min-height: 50px;
		text-align: left;
		padding: 15px;
	}

		.slide-tab .slide-container.expanded {
			display: block;
			height: 350px;
		}
