@import "https://cdn.materialdesignicons.com/4.7.95/css/materialdesignicons.min.css";

html, body {
	margin: 0;
}


	body ul {
		padding-inline-start: 0px;
		margin-bottom: 0px;
	}

:root [data-theme] {
	font-family: var(--font-family);
}
