@namespace Carlton.Core.Components.Layouts

<div class="slide-out-nav">
    <a href="#" @onclick:preventDefault @onclick="() => IsExpanded=!IsExpanded">
        <span class="@SlideOutNavIconCss" />
    </a>
</div>

<div class="content-container @(IsExpanded ? "active" : string.Empty)">
    @Content
</div>


@code{
    [Parameter]
    public bool IsExpanded { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }

    private string SlideOutNavIconCss
    {
        get => new CssBuilder("icon")
            .AddClass("mdi mdi-24px")
            .AddClass("mdi-close", IsExpanded)
            .AddClass("mdi-menu", !IsExpanded)
            .Build();
    }

}

