textarea {
    width: 100%;
    max-height: var(--console-max-height);
    background-color: var(--console-background-color);
    color: var(--console-color);
    margin-left: auto;
    margin-right: auto;
}

    textarea.error {
        color: var(--console-color-red);
    }
