textarea {
    width: 95%;
    background-color: var(--console-background-color);
    color: var(--console-color);
    resize: none;
}

    textarea.error {
        color: var(--console-color-red);
    }
