@namespace Carlton.Base.Components

<div class="logo @(IsCollapsed ? "collapsed" : string.Empty)" data-theme="light">
    <span class="icon mdi mdi-48px mdi-home"></span>
    <span class="title">Carlton Test Bed</span>
</div>

@code {
    [CascadingParameter] bool IsCollapsed { get; set; }
}
