.logo {
    display: flex;
    background-color: #263238;
    height: 75px;
    line-height: 75px;
    margin-bottom: 0px;
    justify-content: center;
}

    .logo .content {
        flex-basis: 85%;
    }

        .logo .content .title {
            font-size: 12pt;
            color: white;
            vertical-align: middle;
        }

        .logo .content img {
            height: 50px;
            width: 50px;
            margin-top: auto;
            margin-bottom: auto;
            vertical-align: middle;
        }

    .logo.collapsed span.title {
        display: none;
    }

@media (max-width: 767.98px) {
    .logo span.title {
        display: none;
    }
}
