@namespace Carlton.Base.Components


<div class="logo @(LayoutState.IsCollapsed ? "collapsed" : string.Empty)">
    <div class="content">
        <img src="_content/Carlton.Base.Components/images/CarltonLogo.png" />
        <span class="title">@Title</span>
    </div>
</div>



@code {
    [CascadingParameter]
    public LayoutState LayoutState { get; set; }
    [Parameter]
    public string Title { get; set; }
}
