@namespace Carlton.Base.TestBed
@inherits LayoutComponentBase

<DashboardLayout ShowTabPanel="true" >
    <NavContent>
        <TestBedDataComponent TViewModel="TestBedNavMenuViewModel" />
    </NavContent>
    <PageTitleContent>
        <TestBedDataComponent TViewModel="TestBedBreadCrumbsViewModel" />
    </PageTitleContent>
    <Body>
        <TestBedDataComponent TViewModel="TestBedComponentViewerViewModel" />
    </Body>
    <Tabs>
        <TestBedTabs />
    </Tabs>
</DashboardLayout>









