@namespace Carlton.Base.TestBedFramework
@inherits LayoutComponentBase

<CarltonDashboardLayout ShowTabPanel="true">
    <NavContent>
        <CarltonDataComponent TViewModel="NavMenuViewModel" />
    </NavContent>
    <Body>
        <MediaQueryWrapper>
            <DesktopContent>
                <CarltonDataComponent TViewModel="ComponentViewerViewModel" />
            </DesktopContent>
            <MobileContent>
                <CarltonDataComponent TViewModel="ComponentViewerViewModel" />
            </MobileContent>
        </MediaQueryWrapper>
    </Body>
    <Tabs>
        <TestBedTabs />
    </Tabs>
</CarltonDashboardLayout>









