@namespace Carlton.Base.TestBedFramework
@inherits LayoutComponentBase

<CarltonDashboardLayout ShowTabPanel="true">
    <HeaderContent>
        <CarltonHeader />
    </HeaderContent>
    <NavContent>
        <CarltonDataComponent TViewModel="NavTreeViewModel" />
    </NavContent>
    <Body>
        <MediaQueryWrapper>
            <DesktopContent>
                <CarltonDataComponent TViewModel="ComponentViewerViewModel" />
            </DesktopContent>
            <MobileContent>
                <div class="page-title">
                    <PageTitle Title="Cound Card" BreadCrumbs="Cards > CountCard" />
                </div>
                <CarltonDataComponent TViewModel="ComponentViewerViewModel" />
            </MobileContent>
        </MediaQueryWrapper>
    </Body>
    <Tabs>
        <TestBedTabs />
    </Tabs>
</CarltonDashboardLayout>









