@namespace Carlton.Base.TestBedFramework
@inherits LayoutComponentBase

<DashboardLayout ShowTabPanel="true">
    <NavContent>
        <TestBedDataComponent TViewModel="NavMenuViewModel" />
    </NavContent>
    <Body>
        <TestBedDataComponent TViewModel="ComponentViewerViewModel" />
    </Body>
    <Tabs>
        <TestBedTabs />
    </Tabs>
</DashboardLayout>









