@namespace Carlton.Base.TestBed
@inherits LayoutComponentBase

<DashboardLayout ShowTabPanel="true" >
    <NavContent>
        <TestBedDataComponent TViewModel="NavMenuViewModel" />
    </NavContent>
    <PageTitleContent>
        <TestBedDataComponent TViewModel="BreadCrumbsViewModel" />
    </PageTitleContent>
    <Body>
        <TestBedDataComponent TViewModel="ComponentViewerViewModel" />
    </Body>
    <Tabs>
        <TestBedTabs />
    </Tabs>
</DashboardLayout>









