@namespace Carlton.Base.TestBedFramework
@inherits LayoutComponentBase

<DashboardLayout>
    <HeaderContent>
        <TestBedHeader />
    </HeaderContent>
    <Body>
        <CarltonDataComponent TViewModel="ComponentViewerViewModel" />
    </Body>
    <PanelContent>
        <Panel />
    </PanelContent>
    <NavContent>
        <CarltonDataComponent TViewModel="NavTreeViewModel" />
    </NavContent>
    <FooterContent>
        <TestBedFooter />
    </FooterContent>
</DashboardLayout>









