@namespace Carlton.Base.TestBedFramework
@inherits LayoutComponentBase

<CarltonDashboardLayout ShowTabPanel="true">
    <HeaderContent>
        <CarltonHeader />
    </HeaderContent>
    <NavContent>
        <CarltonDataComponent TViewModel="NavTreeViewModel" />
    </NavContent>
    <Body>
        <CarltonDataComponent TViewModel="ComponentViewerViewModel" />
    </Body>
    <Tabs>
        <TestBedTabs />
    </Tabs>
</CarltonDashboardLayout>









