@namespace Carlton.Base.TestBedFramework
@inherits LayoutComponentBase

<CarltonDashboardLayout ShowTabPanel="true">
    <NavContent>
        <CarltonDataComponent TViewModel="NavMenuViewModel" />
    </NavContent>
    <Body>
        <CarltonDataComponent TViewModel="ComponentViewerViewModel" />
    </Body>
    <Tabs>
        <TestBedTabs />
    </Tabs>
</CarltonDashboardLayout>









