@namespace Carlton.Base.TestBedFramework
@inherits LayoutComponentBase

<DashboardLayout ShowTabPanel="true">
    <NavContent>
        <CarltonDataComponent TViewModel="NavMenuViewModel" TStateEvents="TestBedStateEvents" />
    </NavContent>
    <Body>
        <CarltonDataComponent TViewModel="ComponentViewerViewModel" TStateEvents="TestBedStateEvents" />
    </Body>
    <Tabs>
        <TestBedTabs />
    </Tabs>
</DashboardLayout>









