@namespace Carlton.Core.Components.Table
@typeparam TItem

<div class="@TableCssClass">
    <div class="header table-row">
        <TableHeader TItem="TItem"
                     Headings="Headings"
                     OrderColumn="@OrderColumn"
                     OrderAscending="OrderAscending"
                     OnItemsOrdered="(args)=>OnOrderingChanged(args)" />
    </div>
    <div class="body">
        @foreach (var item in Items)
        {
            @RowTemplate(item)
        }
    </div>
    @if (ShowPaginationRow)
    {
        <div class="pagination table-row">
            <TablePaginationRow TItem="TItem"
                                RowsPerPageOpts="RowsPerPageOpts"
                                TotalItemCount="AllItems.Count()"
                                CurrentPage="CurrentPage"
                                SelectedRowsPerPageIndex="SelectedRowsPerPageIndex"
                                PageChanged="PageChanged"
                                RowsPerPageChanged="RowsPerPageChanged" />
        </div>
    }
</div>



@code {
    [Parameter]
    public IEnumerable<TableHeadingItem> Headings { get; set; }

    [Parameter]
    public IEnumerable<TItem> Items { get; set; } = new List<TItem>();

    [Parameter]
    public RenderFragment<TItem> RowTemplate { get; set; }

    [Parameter]
    public bool ShowPaginationRow { get; set; }

    [Parameter]
    public IEnumerable<int> RowsPerPageOpts { get; set; }

    [Parameter]
    public int SelectedRowsPerPageIndex { get; set; } = 0;

    [Parameter]
    public int CurrentPage { get; set; } = 1;

    [Parameter]
    public bool SortableHeadersEnabled { get; set; } = true;

    [Parameter]
    public string OrderColumn { get; set; } = string.Empty;

    [Parameter]
    public bool OrderAscending { get; set; } = true;

    [Parameter]
    public bool ZebraStripped { get; set; }

    [Parameter]
    public bool Hoverable { get; set; }

    [Parameter]
    public EventCallback<TablePageChangedArgs> PageChanged { get; set; }

    [Parameter]
    public EventCallback<TableRowsPerPageChangedArgs> RowsPerPageChanged { get; set; }

    [Parameter]
    public EventCallback<TableOrderingChangedArgs> ItemsOrdered { get; set; }

    private IList<TItem> AllItems { get; set; } = new List<TItem>();

    private int SelectedRowPerPageValue { get => RowsPerPageOpts.ElementAt(SelectedRowsPerPageIndex); }

    private string TableCssClass
    {
        get => new CssBuilder("table-container")
                .AddClass("zebra", ZebraStripped)
                .AddClass("hoverable", Hoverable)
                .Build();
    }

    protected override void OnParametersSet()
    {
        AllItems = Items.ToList();
        UpdateOrdering();
        UpdatePagination();
        base.OnParametersSet();
    }

    private void OnOrderingChanged(TableOrderingChangedArgs args)
    {
        if (!SortableHeadersEnabled)
            return;

        ItemsOrdered.InvokeAsync(args);
    }

    private void UpdatePagination()
    {

        if (!ShowPaginationRow)
            return;

        Items = AllItems.Skip((CurrentPage - 1) * SelectedRowPerPageValue)
                        .Take(SelectedRowPerPageValue)
                        .ToList();
    }

    private void UpdateOrdering()
    {
        if (string.IsNullOrEmpty(OrderColumn))
            return;

        var orderString = $"{OrderColumn}{(OrderAscending ? string.Empty : " desc")}";
        AllItems = AllItems.AsQueryable().OrderBy(orderString).ToList();
    }
}
