@namespace Carlton.Core.Components.Table
@typeparam TItem

<div class="table-container @TableCssClass">
    <div class="header table-row">
        <TableHeader TItem="TItem"
                     Headings="Headings"
                     OrderColumn="@OrderColumn"
                     OrderAscending="OrderAscending"
                     OnItemsOrdered="(args)=>OnOrderingChanged(args)" />
    </div>
    <div class="body">
        @foreach (var item in Items)
        {
            @RowTemplate(item)
        }
    </div>
    @if (ShowPaginationRow)
    {
        <div class="table-row">
            <TablePaginationRow TItem="TItem"
                                RowsPerPageOpts="RowsPerPageOpts"
                                TotalItemCount="AllItems.Count()"
                                CurrentPage="CurrentPage"
                                SelectedRowsPerPageIndex="SelectedRowsPerPageIndex"
                                OnPageChanged="OnPageChanged"
                                OnRowsPerPageChanged="OnRowsPerPageChanged" />
        </div>
    }
</div>



@code {
    [Parameter]
    public IEnumerable<TableHeadingItem> Headings { get; set; }

    [Parameter]
    public IEnumerable<TItem> Items { get; set; } = new List<TItem>();

    [Parameter]
    public RenderFragment<TItem> RowTemplate { get; set; }

    [Parameter]
    public bool ShowPaginationRow { get; set; }

    [Parameter]
    public IEnumerable<int> RowsPerPageOpts { get; set; }

    [Parameter]
    public bool SortableHeadersEnabled { get; set; } = true;

    [Parameter]
    public bool ZebraStripped { get; set; }

    [Parameter]
    public bool Hoverable { get; set; }

    private IList<TItem> AllItems { get; set; } = new List<TItem>();

    private int SelectedRowsPerPageIndex { get; set; } = 0;

    private int SelectedRowPerPageValue { get => RowsPerPageOpts.ElementAt(SelectedRowsPerPageIndex); }

    private int CurrentPage { get; set; } = 1;

    private string OrderColumn { get; set; }

    private bool OrderAscending { get; set; } = true;

    private string TableCssClass
    {
        get => new CssBuilder()
                .AddClass("zebra", ZebraStripped)
                .AddClass("hoverable", Hoverable)
                .Build();
    }

    protected override void OnParametersSet()
    {
        AllItems = Items.ToList();
        ResetPaginationAndOrdering();
        UpdateOrdering();
        UpdatePagination();
        base.OnParametersSet();
    }

    private void OnPageChanged(TablePageChangedArgs args)
    {
        CurrentPage = args.CurrentPage;
        UpdateOrdering();
        UpdatePagination();
    }

    private void OnRowsPerPageChanged(TableRowsPerPageChangedArgs args)
    {
        SelectedRowsPerPageIndex = args.SelectedRowsPerPageIndex;
        UpdateOrdering();
        UpdatePagination();
    }

    private void OnOrderingChanged(TableOrderingChangedArgs args)
    {
        if (!SortableHeadersEnabled)
            return;

        OrderColumn = args.OrderColumn;
        OrderAscending = args.OrderAscending;
        UpdateOrdering();
        UpdatePagination();
    }

    private void UpdatePagination()
    {

        if (!ShowPaginationRow)
            return;

        Items = AllItems.Skip((CurrentPage - 1) * SelectedRowPerPageValue)
                               .Take(SelectedRowPerPageValue)
                               .ToList();
    }

    private void UpdateOrdering()
    {
        if (string.IsNullOrEmpty(OrderColumn))
            return;

        var orderString = $"{OrderColumn}{(OrderAscending ? string.Empty : " desc")}";
        AllItems = AllItems.AsQueryable().OrderBy(orderString).ToList();
    }

    private void ResetPaginationAndOrdering()
    {
        CurrentPage = 1;
        OrderColumn = string.Empty;
        OrderAscending = true;
    }
}
