/* vertical panel */
.resizable-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: calc(100% - 60px);
    overflow: hidden;
}

.panel-top {
    /* only manually resize */
    padding: 10px;
    height: 100px;
    width: 100%;
    overflow-y: scroll;
    max-height: calc(100vh - 60px);
    box-sizing: border-box;
}

.splitter-horizontal {
    height: 20px;
    background: #535353;
    cursor: row-resize;
    z-index: 2;
}

.panel-bottom {
    padding: 10px;
}

