@namespace Carlton.Base.Components

@if (SpacerDirection == SpacerDirection.horizontal)
{
    <span class="horizontal-spacer"></span>
}

@if (SpacerDirection == SpacerDirection.vertical)
{
    <span class="vertical-spacer"></span> 
}

@code {
    [Parameter]
    public SpacerDirection SpacerDirection { get; set; }
}