.content {
    margin-top: 100px;
}

    .content .mobile-tabs {
        display: flex;
        background-color: var(--layout-footer-background-color);
        padding: 1.5rem 0;
    }

    .content .mobile-tab {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        text-align: center;
        font-size: 0.8rem;
        color: var(--layout-footer-color);
        cursor: pointer;
    }

        .content .mobile-tab.active {
            color: var(--selected-color);
        }

    .content .mobile-tab-link {
        display: flex;
        flex-direction: column;
    }


