@namespace Carlton.Core.Components
@inherits TabBarBase

<div class="tabs">
    <div class="content">
        @foreach(Tab tab in Tabs)
        {
            <div class="@CarltonTabCss(tab)">
                <a class="" @onclick="()=>ActivateTab(tab)" href="#">@tab.DisplayText</a>
                <span class="tab-selected-bar"></span>
            </div>
        }
    </div>
</div>

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>


@code {
    private Func<Tab, string> CarltonTabCss
    {
        get => (tab) => new CssBuilder("carlton-tab")
                .AddClass("active", ActiveTab == tab)
                .Build();
    }
}
